<div class='element-table-row-display {{unless showDisplayRow "in-edit-mode"}}'  {{action 'toggleViewOptions'}}>
  <div class='s12 m08 l07'>
    <label>{{model.expenseType.name}}</label>
  </div>
  <div class='s00 m08 l11'>
    <label class='label-ellipses'>{{model.description}}</label>
  </div>
  <div class='flex-justify-end text-end s12 m08 l06'>
    {{shared/labels/label-with-placeholder-option value=model.monthly currency=true}}
  </div>
</div>

<div class='element-table-row-edit  {{if showEditRow "in-edit-mode"}} '>
  <div class='s09'>
    {{shared/inputs/element-select listName='template' optionsList=expenseTypes value=model.expenseType placeholder='type'}}
  </div>
  <div class='s15'>
    {{shared/inputs/element-input type='text' value=model.description placeholder='description' helpMessage='A description to help you identify this expense [optional]'}}
  </div>
  <div class='s09'>
    {{shared/inputs/element-currencyfield value=model.value placeholder='amount'}}
  </div>
  <div class='s08'>
    {{shared/inputs/element-select value=model.frequency placeholder='frequency' listName='frequency' store=model.store}}
  </div>
  <div class='s07'>
    {{shared/labels/label-with-placeholder-option value=model.monthlyX placeholder='monthly' inputSize=true currency=true helpMessage="A monthly value of the expense, as monthly figures are used by most lenders"}}
  </div>

  {{#if forex}}
  <div class='s09'>
    {{shared/inputs/element-select value=model.currency placeholder='currency' listName='currency' store=model.store}}
  </div>
  <div class='s08'>
    {{shared/labels/label-with-placeholder-option value=model.rate placeholder='exchange rate' inputSize=true helpMessage='The most recent exchange rate for this currency'}}
  </div>
  <div class='s07'>
    {{shared/labels/label-with-placeholder-option value=model.nzdVal placeholder='NZD monthly' currency=true inputSize=true helpMessage='An estimate of the NZD monthly value of the expense, based on the exchange rate we have on file'}}
  </div>
  {{/if}}

</div>

<div class='element-table-row-options {{if showOptions "in-focus"}}'>
  {{#if inEditMode}}
    {{shared/buttons/element-save-button action='saveEdit'}}
  {{else}}
    {{shared/buttons/element-edit-button action='saveEdit'}}
  {{/if}}
    {{shared/buttons/element-delete-button action='deleteExpense'}}


</div>
