<div class='element-table-header {{bgColour}}' >
  {{toolikit/pieces/add-to-table-type-selector optionTypes=optionTypes bgColour=bgColour action='addItem'}}
  <div class='element-table-header-title' {{action 'toggleTable'}}>
    <label class='label-looking-link' >{{header}}</label>
    <div class='element-table-expand-contract'>{{#if showTable}}{{inline-svg "icons/table-contract" class='svg-tiny' }}{{else}}{{inline-svg "icons/table-expand" class='svg-tiny' }}{{/if}}</div>

    <!--span class='element-table-expand-contract'>{{#if showTable}}&#9650;{{else}}&#9660;{{/if}}</span-->
  </div>
  {{#if summaryValue}}
  <div class='element-table-header-righthand-value'>
    {{shared/labels/label-with-placeholder-option value=summaryValue currency=true}}
  </div>
  {{/if}}
</div>

{{yield}}
