<div class='element-table-row-display {{unless showDisplayRow "in-edit-mode"}}'  {{action 'toggleViewOptions'}}>
  <div class='s24 m08'>
    <label>{{model.liabilityType.name}}</label>
  </div>

  <div class='s00 m08'>
    <label>{{model.description}}</label>
  </div>

  <div class='flex-justify-end text-end s24 m08'>
    {{elements/label-with-placeholder-option value=model.nzdVal currency=true}}
  </div>
</div>

<div class='element-table-row-edit  {{if showEditRow "in-edit-mode"}} '>
  <div class='s24 m06 l08'>
    {{shared/inputs/element-select listName='liabilityType' optionsList=liabilityTypes value=model.liabilityType placeholder='type'}}
  </div>
  <div class='s24 m08'>
    {{shared/inputs/element-input type='text' value=model.description placeholder='description' helpMessage='A description to help you identify this liability [optional]'}}
  </div>

  <div class='s10 m08'>
    {{shared/inputs/element-select listName='bank' store=model.store value=model.bank placeholder='lender'}}
  </div>
  <div class='s14 m08'>
    {{shared/inputs/element-currencyfield value=model.owing placeholder='outstanding balance' helpMessage='How much is still owing on this liability now?'}}
  </div>






  {{#unless model.noLimit}}
    <div class='s24 m08'>
      {{shared/inputs/element-currencyfield value=model.limit placeholder='limit' helpMessage='For revolving-type facilities and credit cards, what is the limit?'}}
    </div>
  {{/unless}}

  {{#if model.requiresFixedTermExpiry}}
    <div class='s12 m04'>
      {{shared/inputs/element-percentfield value=model.interestRate placeholder='interest rate'}}
    </div>
    <div class='s12 m04'>
      {{shared/inputs/element-datefield value=model.fixedRateExpiry placeholder='fixed rate expiry' yearRange='0,15' helpMessage='When does the current fixed interest rate expire?'}}
    </div>
  {{/if}}


  {{#if model.noLimit}}
    {{#unless model.requiresFixedTermExpiry}}
      <div class='s24 m08'>
      </div>
    {{/unless}}
  {{/if}}



  {{#if forex}}
  <div class='s24 m08'>
    {{shared/inputs/element-select value=model.currency placeholder='currency' listName='currency' store=model.store}}
  </div>
  <div class='s12 m08'>
    {{elements/label-with-placeholder-option value=model.rate placeholder='exchange rate' inputSize=true}}
  </div>
  <div class='s12 m08'>
    {{elements/label-with-placeholder-option value=model.nzdVal placeholder='NZD after new loan' currency=true inputSize=true}}
  </div>
  {{/if}}



</div>

<div class='element-table-row-options {{if showOptions "in-focus"}}'>
  {{shared/assemblies/edit-save-delete model=model modelName='liability' edit=inEditMode}}

</div>
