  <div class='element-table-row-display {{unless showDisplayRow "in-edit-mode"}}'  {{action 'toggleViewOptions'}}>
    <div class='s12 m08'>
      <label>{{model.assetType.name}}</label>
    </div>

    <div class='s00 m08'>
      <label>{{model.description}}</label>
    </div>

    <div class='flex-justify-end text-end s12 m08'>
      {{elements/label-with-placeholder-option value=model.nzdVal currency=true}}

    </div>
  </div>

  <div class='element-table-row-edit  {{if showEditRow "in-edit-mode"}} '>
    <div class='s24 m06 l08'>
      {{shared/inputs/element-select listName='template' optionsList=assetTypes value=model.assetType placeholder='type'}}
    </div>
    <div class='s24 m12 l08'>
      {{shared/inputs/element-input type='text' value=model.description placeholder='description' helpMessage='A description to help you identify this asset [optional]'}}
    </div>
    <div class='s24 m06 l08'>
      {{shared/inputs/element-currencyfield value=model.value placeholder='value'}}
    </div>

    {{#if forex}}
    <div class='s24 m12'>
      {{shared/inputs/element-select value=model.currency placeholder='currency' listName='currency' store=model.store}}
    </div>
    <div class='s12 m06'>
      {{elements/label-with-placeholder-option value=model.rate placeholder='exchange rate' inputSize=true helpMessage='The most recent exchange rate for this currency'}}
    </div>
    <div class='s12 m06'>
      {{elements/label-with-placeholder-option value=model.nzdVal placeholder='NZD value' currency=true inputSize=true helpMessage='An estimate of the NZD value of the asset, based on the exchange rate we have on file'}}
    </div>
    {{/if}}



  </div>

  <div class='element-table-row-options {{if showOptions "in-focus"}}'>
    {{shared/assemblies/edit-save-delete model=model modelName='asset' edit=inEditMode}}

  </div>
