<div class='element-table-row-display {{unless showDisplayRow "in-edit-mode"}}'  {{action 'toggleViewOptions'}}>
  <div class='s12 m20'>
    <label>{{model.description}}</label>
  </div>

  <div class='s000 m08'>
    <label>{{model.securityType.name}}</label>
  </div>

  <div class='flex-justify-end text-end s12 m06'>
    {{elements/label-with-placeholder-option value=model.nzdVal currency=true}}
  </div>
</div>

<div class='element-table-row-edit  {{if showEditRow "in-edit-mode"}}'>
  <div class='s24 m12'>
    {{shared/inputs/address-input-with-lookup address=model.address placeholder='address' helpMessage='The address of the security. If this is yet to be confirmed, record "TBC" in the street address'}}
  </div>
  <div class='s24 m08'>
    {{shared/inputs/element-select value=model.securityType placeholder='type' listName='securityType' store=model.store}}
  </div>
  <div class='s14 m08'>
    {{shared/inputs/element-select value=model.securityUseType placeholder='purpose' listName='securityUseType' store=model.store}}
  </div>
  <div class='s10 m08'>
    {{shared/inputs/element-select value=model.securityOwnershipType placeholder='ownership' listName='securityOwnershipType' store=model.store helpMessage='Is/Will the security be owned personally, or in a trust/company'}}
  </div>
  {{#unless model.isProposed}}
    <div class='s10 m08'>
      {{shared/inputs/element-select value=model.bank placeholder='held by' listName='bank' store=model.store helpMessage='Institution currently holding security (if any)'}}
    </div>
  {{/unless}}
  <div class='s24 m08'>
    {{shared/inputs/element-currencyfield value=model.value placeholder='value' helpMessage='Value may need to be supported by an independent valuation or sale and purchase agreement'}}
  </div>
  {{#if forex}}
    <div class='s24 m08'>
      {{shared/inputs/element-select value=model.currency placeholder='currency' listName='currency' store=model.store }}
    </div>
    <div class='s12 m08'>
      {{elements/label-with-placeholder-option value=model.rate placeholder='exchange rate' inputSize=true helpMessage='The most recent exchange rate for this currency'}}
    </div>
    <div class='s12 m08'>
      {{elements/label-with-placeholder-option value=model.nzdVal placeholder='NZD value' currency=true inputSize=true helpMessage='An estimate of the NZD value of the security, based on the exchange rate we have on file'}}
    </div>
  {{/if}}

</div>

<div class='element-table-row-options {{if showOptions "in-focus"}}'>
  {{shared/assemblies/edit-save-delete model=model modelName='security' edit=inEditMode}}
</div>
