{{yield}}
<div class='s23 m18 l09 grey-bordered-white-box-flat flex-column-nowrap flex-align-centre'>


  <div class='s24 presentation-container flex-column-nowrap flex-align-centre commission-structure-box'>

  <!--  Title Bar -->
    {{shared/tools/segments/tool-title-bar title='Loan Structure' closeAttribute=closeAttribute}}
    <div class="s23 flex-shrink-grow">
      {{socket/toolkit/-pieces/loan-listing model=model.liabilities loanDetailComponent="toolkit/quick-payment-calculator" hideInterestOnly=hideInterestOnly}}
    </div>
    <div class='row-divide'>
    </div>
    <div class='s23'>
      {{#shared/inputs/element-slider value=model.upFrontCommissionRate min=0 max=0.05 basis=0.0001 svgPath='icons/slider-icon-percent'}}
        <div class='s12'>
          {{shared/inputs/element-percentfield value=model.upFrontCommissionRate placeholder='up-front commission rate' centre=true rightAlign=true hideBorder=true}}
        </div>
      {{/shared/inputs/element-slider}}
    </div>

    <div class='s23'>
      {{#shared/inputs/element-slider value=model.trailCommissionRate min=0 max=0.01 basis=0.0001 svgPath='icons/slider-icon-percent'}}
        <div class='s12'>
          {{shared/inputs/element-percentfield value=model.trailCommissionRate placeholder='trail rate (p.a.)' centre=true rightAlign=true hideBorder=true}}
        </div>
      {{/shared/inputs/element-slider}}
    </div>
    <div class='s23 pad5 flex-row-wrap flex-justify-centre'>
      <h5 class='accent-fg'>Approx Lifetime Commission: {{format-currency model.totalLifeTimeCommission}}</h5>
    </div>

    <div class='row-divide'>
    </div>


    <div class='s24 pad5 flex-justify-space-around'>
      <div class='s02'>
      </div>
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='planner-add-loan' displayLabel=true altClasses='accent-darker-fg' onClick=(action 'addLoan')}}
          add loan
      {{/shared/buttons/svg-circle-button}}
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='planner-reset' displayLabel=true altClasses='accent-darker-fg' onClick=(action 'reset')}}
          reset
      {{/shared/buttons/svg-circle-button}}
      <div class='s02'>
      </div>
    </div>


  </div>



</div>
<div class='s23 m18 l14 grey-bordered-white-box-flat flex-column-nowrap flex-align-centre relative'>
  <div class='s24 column-nowrap  commission-structure-box'>
    {{shared/tools/segments/tool-title-bar title='Trail Forecast' closeAttribute=closeAttribute}}
    <div class='s24 spacer'>
    </div>
    <div class='s24 spacer'>
    </div>
    <div class='s24 flex-shrink-grow flex-align-centre'>
      {{socket/toolkit/commission/commission-forecast-graph model=model}}
      {{#if noTrail}}
        <div class='commission-forecast-overlay'>
          <h5>No trail commission due</h5>
        </div>
      {{/if}}

    </div>
    <div class='s24 spacer'>
    </div>
    <div class='s23 pad5 flex-row-wrap flex-justify-centre'>
      <h5 class='accent-fg'>Approx Total Trail: {{format-currency model.totalTrail}}</h5>
    </div>
  </div>


</div>



{{#if showInstructions}}
  {{#shared/tools/tools-popover-tool-container size='medium' closeAttribute=showInstructions confirmClose=false}}
    {{#segments/tool-instructions-arrival closeAttribute=showInstructions}}
      Use the Commission Calculator to estimate the upfront and trail commission that will be paid for a particular loan structure.
      <br/>
      <br/>
      Simply load the intended loan structure, then use the sliders to adjust the upfront and trail (if any) commission rates. The Calculator will work out the total commission due, including the lifetime value of any trail commission.
      <br/>
      <br/>
      <b>TIP:</b> Save your commission calculations to take advantage of our upcoming Commission Forecasting Tool coming to Socket CRM early 2017.

    {{/segments/tool-instructions-arrival}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}


{{#if session.createPDF}}
  <div class='commission-forecast-graph-print-container'>
    {{socket/toolkit/commission/commission-forecast-graph print=true model=model}}
  </div>

{{/if}}
