
  <div id='greyout' class='screen-greyout {{if showProposition "in-focus"}}' {{action 'closeProposition'}}>
  </div>

  <div id='loanPlannerContainer' class='s24 flex-row-wrap flex-align-stretch'>
    <div class='s24 l18 flex-align-stretch flex-row-nowrap'>
      <div class='grey-bordered-white-box-flat pad5 flex-row-wrap planner-donut-container'>
        <div class='s24 flex-row-wrap'>
          <div class='s24 pad5 flex-justify-centre'>
            <b>Loan Plan</b>
          </div>
          <div class='s24 planner-events-container'>
            {{#each eventTypes as |eventType|}}
              {{socket/toolkit/planner/planner-draggable-event model=eventType lineChart=lineChart hideDragHereOverlay=hideDragHereOverlay plan=model displayEventDescription=(action "displayEventDescription") displaySelectedEvent=(action "displaySelectedEvent")}}
            {{/each}}
          </div>
          <div class='s24 spacer'>
          </div>


            <div id='lineGraphContainer' class='s24 pad5 flex-justify-centre relative '>
              {{socket/toolkit/planner/planner-graph-line model=model lineChart=lineChart displaySelectedEvent=(action "displaySelectedEvent") displaySelectedYear=(action "displaySelectedYear") hideDragHereOverlay=hideDragHereOverlay}}
              <div class='loan-planner-graph-overlay {{if showSelectedEvent "enlarged"}} {{if reduceOverlay "reduced"}}'>

                {{#if reduceOverlay}}
                  <span class='selectable' {{action 'displayInstructions'}}>{{#if showInstructionIcon}}{{inline-svg 'icons/information' class='svg-small'}}{{/if}}</span>
                {{else}}
                  <button class='instructions-close-button' {{action 'hideInstructions'}}>{{inline-svg "icons/close-circle" class='svg-small grey-icon' }}</button>

                  {{#if showYear}}
                    {{socket/toolkit/planner/planner-year-details year=selectedYear model=model}}
                  {{/if}}
                  {{#if showLoanPlanEventType}}
                    {{socket/toolkit/planner/planner-event-description model=selectedEventType}}
                  {{/if}}
                  {{#if showSelectedEvent}}
                    {{socket/toolkit/planner/planner-event-view model=selectedEvent closePopover=(action "hideInstructions")}}
                  {{/if}}
                  {{#if showInstructionInset}}
                    {{socket/toolkit/planner/planner-instructions}}
                  {{/if}}
                {{/if}}
              </div>
            </div>

            <div id='barGraphContainer' class='s24 pad5 flex-justify-centre relative'>
              {{socket/toolkit/planner/planner-graph-payment model=model selectedYear=selectedYear}}
            </div>

        </div>
      </div>
    </div>
    <div class='s24 l06 flex-align-stretch flex-row-nowrap'>
      <div class='grey-bordered-white-box-flat planner-donut-container'>
        <div class='s24 pad5 flex-justify-centre'>
          <b>Loan Plan Savings</b>
        </div>
        <div class='s24 spacer'>
        </div>

        <div class='s24 m16 l24 flex-justify-centre flex-row-wrap'>
          <div class='s24 flex-align-centre'>
            {{socket/toolkit/planner/planner-graph-donuts model=model}}
          </div>
        </div>
        <div class='s24 m00 l24 spacer'>
        </div>
        <div class='s24 m08 l24 flex-justify-centre pad5'>
          {{socket/toolkit/planner/planner-graph-years-saved model=model}}
        </div>
        <div class='s24 m00 l24 spacer'>
        </div>
        <div class='s24 m00 l24 spacer'>
        </div>
        <div class='planner-savings-box {{if hasSavings "positive"}} {{if hasNegativeSavings "negative"}}'>
          <div class='s24 text-centre'>
            <h5>Plan savings: {{format-currency totalSavings}}</h5>
          </div>
          <div class='s24 text-centre'>
            <h5>Years saved: {{yearsSaved}}</h5>
          </div>
        </div>

      </div>
    </div>


  </div>



  {{#unless inFrame}}
    <div class='s24'>
      <div class='grey-bordered-white-box-flat pad5 flex-row-wrap'>
        <div class='s24 flex-row-wrap'>
          <div class='s24 pad5 flex-justify-centre'>
            <b>Loan Events</b>
          </div>
          <div class='s24 pad5 flex-column-nowrap'>
            {{#each sortedEvents as |event|}}
              {{socket/toolkit/planner/planner-my-loan-events-table-row model=event viewEvent=viewEvent selectedEvent=selectedEvent}}
            {{else}}
              {{shared/tables/empty-state message='You have no loan events. Drag events onto the graph above'}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    {{#if viewEvent}}
      {{#tools/tools-popover-tool-container title='Add Loan Event' closeAttribute=viewEvent}}
        {{socket/toolkit/planner/planner-add-plan-event-popover year=year plan=model model=selectedEvent closeAttribute=viewEvent existingEvent=true}}
      {{/tools/tools-popover-tool-container}}
    {{/if}}
    {{yield}}
  {{/unless}}




<!--  Don't show proposition in Beta.  Restrict to default loan amount -->
  {{#unless isBeta}}
    <div class='planner-proposition-container {{if showProposition "in-focus"}}'>
      <div class='s24 flex-justify-start'>
        <div class='planner-proposition-bubble' {{action 'toggleShowProposition'}}>
          Proposition: {{shared/labels/label-with-placeholder-option value=model.loanAmount currency=true}}
        </div>
      </div>

      {{socket/toolkit/loan-structure-table model=model.liabilities loanPlan=model closeAttribute=showProposition paymentFrequency=model.repaymentFrequency hideInterestOnly=true}}
    </div>
  {{/unless}}


  {{#if unreadUserMessages}}
    <div class='planner-message-alert' {{action 'showUserMessages'}}>
      {{inline-svg 'icons/alert-notifications' class='svg-medium box-shadow'}}
    </div>

  {{/if}}


  {{#if showInstructions}}
    {{#shared/tools/tools-popover-tool-container size='medium' closeAttribute=showInstructions confirmClose=false}}
      {{#segments/tool-instructions-arrival closeAttribute=showInstructions}}
        Use the Loan Planner to model the life of a loan, and calculate the benefits of different repayment strategies.
         <br/>
         <br/>
        Simply record the intended loan structure in the proposition box at bottom left, then drag and drop loan events onto the loan graph to add them to your loan plan.  Graphs will update with each event added.
        <br/>
        <br/>
        <b>TIP:</b> Want to see some big savings?  Try increasing repayments by 2% each year (less than inflation)

      {{/segments/tool-instructions-arrival}}
    {{/shared/tools/tools-popover-tool-container}}
  {{/if}}


  {{#if session.createPDF}}
    <div id='lineGraphPrintContainer' class='planner-print-container line-graph'>
      {{socket/toolkit/planner/planner-graph-line print=true model=model displaySelectedEvent=(action "displaySelectedEvent") displaySelectedYear=(action "displaySelectedYear") hideDragHereOverlay=true}}
    </div>
    <div id='barGraphPrintContainer' class='planner-print-container payment-graph'>
      {{socket/toolkit/planner/planner-graph-payment print=true model=model}}
    </div>
    <div id='donutGraphPrintContainer' class='planner-print-container donut-graph'>
      {{socket/toolkit/planner/planner-graph-donuts print=true model=model}}
    </div>
    <div id='yearsGraphPrintContainer' class='planner-print-container years-graph'>
      {{socket/toolkit/planner/planner-graph-years-saved print=true model=model}}
    </div>
  {{/if}}
