<div class='s24 element-table-row-display' {{action 'viewEvent' model}}>
  <div class='s04 m02'>
    {{#if model.eventType.iconPath}}
      {{inline-svg model.eventType.iconPath class='svg-small'}}
    {{/if}}
  </div>
  <div class='s04 m03'>
    Year: {{model.year}}
  </div>
  <div class='s12 m16'>
    {{model.eventType.name}} {{#if model.recurrenceInterval}}(repeats every {{model.recurrenceYrs}} years){{/if}}
  </div>
  <div class='s04 m03 flex-justify-end'>
    {{shared/labels/label-with-placeholder-option value=eventValue currency=isCurrency percent=isPercent}}
  </div>
</div>

{{yield}}
