<div class='s24 pad5 flex-justify-centre text-centre'>
  <u>Year {{year}}</u>
</div>
<div class='s24 flex-row-wrap'>
  <div class='s24'>
    {{shared/labels/label-with-placeholder-option value=planBalance currency=true placeholder='loan balance' inputSize=true centre=true}}
  </div>
  <div class='s24'>
    {{shared/labels/label-with-placeholder-option value=planPayment currency=true placeholder='loan payments' inputSize=true centre=true}}
  </div>
</div>


{{yield}}
