
{{socket/toolkit/planner/planner-draggable-event-icon model=model plan=plan lineChart=lineChart hideDragHereOverlay=hideDragHereOverlay displaySelectedEvent=displaySelectedEvent}}
<div class='planner-event-type-label'>
  {{model.name}}
</div>
