<div class='tools-medium-width-body'>
  <div id='eventSelect' class='s24 flex-row-wrap pad5'>
    {{#each eventTypes as |type|}}
      <div class='s12 m08 pad5 flex-column-nowrap cursor-pointer hover-opaque' {{action 'addEvent' type}}>
        <div class='s24 flex-justify-centre'>
          {{inline-svg type.iconPath class='svg-medium-large'}}
        </div>
        <div class='s24 text-centre pad5'><b>{{type.name}}</b></div>
        <div class='s24 text-centre font-three-quarter pad5'>
          {{type.description}}
        </div>

      </div>
    {{/each}}
  </div>
  <div id='eventDetails' class='s24 flex-row-wrap pad5'>
    <div class='s24 spacer'>
    </div>
    <div class='s24 m08'>
      <div class='s24 flex-justify-centre'>
        {{#if model.iconPath}}
          {{inline-svg model.iconPath class='svg-medium-large'}}
        {{/if}}
      </div>
      <div class='s24 text-centre pad5'><b>{{model.eventType}}</b></div>
      <div class='s24 text-centre font-three-quarter pad5'>
        {{selectedEventType.description}}
      </div>

    </div>

    <div class='s24 m16 flex-row-wrap pad5'>
      <div class='s24'>
        {{shared/inputs/element-input type=text value=model.name placeholder='description (optional)' helpMessage="Give the event a name to help identify it later"}}
      </div>
      <div class='s24'>
        {{#if lumpSum}}
          {{shared/inputs/element-currencyfield value=model.eventValue placeholder='lump sum amount' helpMessage='The dollar value you will pay against your loan(s)'}}
        {{/if}}
        {{#if borrowMore}}
          {{shared/inputs/element-currencyfield value=model.eventValue placeholder='additional borrowing amount' helpMessage="The amount you will borrow over and above whatever is outstanding on your existing lending"}}
        {{/if}}
        {{#if roundUp}}
          {{shared/inputs/element-currencyfield value=model.eventValue placeholder='round to nearest $' helpMessage="The nearest figure you want to round payments up to. Enter $1 to round to the nearest dollar, or $100 to round up to the nearest $100"}}
        {{/if}}
        {{#if increasePayments}}
        <div class='s24 pad5 flex-row-nowrap flex-align-centre'>
          <div class='s14'>
            {{#if valueIsPercent}}
              {{shared/inputs/element-percentfield value=model.eventValue placeholder='increase payment by %' helpMessage="The percentage by which to increase loan repayments"}}
            {{else}}
              {{shared/inputs/element-currencyfield value=model.eventValue placeholder='increase payment by $' helpMessage="The dollar value by which to increase loan repayments"}}
            {{/if}}
          </div>
          <div class='s10 pad5'>
            <button class='square-button accent-darker-bg' {{action 'toggleValueIsPercent'}}>Or increase by {{#if valueIsPercent}}${{else}}%{{/if}}</button>
          </div>
        </div>
        {{/if}}
        {{#if reducePayments}}
          <div class='s24 pad5 flex-row-nowrap flex-align-centre'>
            <div class='s14'>
              {{#if valueIsPercent}}
                {{shared/inputs/element-percentfield value=model.eventValue placeholder='reduce payment by %' helpMessage="The percentage by which to reduce loan repayments"}}
              {{else}}
                {{shared/inputs/element-currencyfield value=model.eventValue placeholder='reduce payment by $' helpMessage="The dollar value by which to reduce loan repayments"}}
              {{/if}}
            </div>
            <div class='s10 pad5'>
              <button class='square-button accent-darker-bg' {{action 'toggleValueIsPercent'}}>Or reduce by {{#if valueIsPercent}}${{else}}%{{/if}}</button>
            </div>
          </div>
        {{/if}}
        {{#if pmtHoliday}}
          {{shared/inputs/element-input type=number value=model.eventValue placeholder='number of payments to skip' helpMessage="The number of loan repayments in this repayment holiday, e.g. enter 13 for a 3 month holiday with weekly loan repayments"}}
        {{/if}}
        {{#if intOnly}}
          {{shared/inputs/element-input type=number value=model.eventValue placeholder='number of payments to pay interest only' helpMessage="The number of loan repayments included in your interest-only period, e.g. enter 24 for a 2 year interest only period with monthly loan repayments"}}
        {{/if}}
        {{#if rateChange}}
          {{shared/inputs/element-percentfield value=model.eventValue placeholder='new interest rate' helpMessage='The new interest rate to take affect after this event'}}
        {{/if}}
        {{#if payOff}}
          This will reduce your loan balance to zero.  Any loan events occuring after this event will no longer affect your loans.
        {{/if}}
      </div>
      {{#each selectedEventType.notes as |note|}}
        <div class='s24 text-centre font-three-quarter pad5 red-fg'>
          {{note}}
        </div>
      {{/each}}
    </div>
    <div class='s24 spacer'>
    </div>
    <div class='s24 pad5'>
      <button class='square-button green-bg' {{action 'addSelectedEvent'}}>Save event</button>
    </div>
    <div class='s24 spacer'>
    </div>
  </div>
</div>
