{{#if print}}
  <canvas id="yearsSavedChartPrint" class='planner-graph-canvas years-print' ></canvas>
{{else}}

  <div class='s24'>
    <canvas id="yearsSavedChart" class='s24' ></canvas>
    <div class='s24 pad5 text-centre'>
      Total term: {{baselineYears}}yrs Vs {{planYears}}yrs
    </div>
  </div>
{{/if}}
