{{#if print}}
  <canvas id="planDonutChartPrint" class='planner-graph-canvas donut-print' ></canvas>
{{else}}
  <div class='s24 m12 l24'>
    <canvas id="baselineDonutChart" class='s24'></canvas>
    <div class='s24 pad5 text-centre'>
      Baseline total cost: {{totalCostBaseline}}
    </div>
  </div>
  <div class='s24 m00 l24 spacer'>
  </div>

  <div class='s24 m12 l24'>

    <canvas id="planDonutChart" class='s24' ></canvas>

    <div class='s24 pad5 text-centre'>
      Plan total cost: {{totalCostPlan}}
    </div>
    <div class='s24 m00 l24 spacer'>
    </div>

  </div>
{{/if}}
