
<div class='s24 pad5 flex-justify-centre flex-align-centre'>

  {{#if model.iconPath}}
    {{inline-svg model.iconPath class='svg-small-medium'}}
  {{/if}}
  <div class='pad5'>
    <b>{{model.name}}</b>
  </div>

</div>
<div class='s24 pad5 text-centre font-three-quarter flex-justify-centre'>
  {{model.description}}
</div>
{{#if model.notes}}
<div class='s24 text-centre font-three-quarter flex-justify-centre'>
  <i>{{model.notes}}</i>
</div>
{{/if}}
