
<div class='s24 pad5 flex-justify-centre text-centre'>
  <h5><u>Instructions</u></h5>
</div>
<div class='s24 font-three-quarter'>
  <ul>
    <li>
      Click/tap loan events above for more details
    </li>
    <li>
      Drag loan events onto the graph to add them to your loan plan
    </li>
    <li>
      Click any point on the graph to see summary information for that year
    </li>
  </ul>
</div>
{{yield}}
