{{#if print}}
  <canvas id="lineChartPrint" class='planner-graph-canvas balance-print'></canvas>
{{else}}
  <canvas id="lineChart" class='planner-graph-canvas balance' ></canvas>
  {{#each model.events as |event index|}}
    {{socket/toolkit/planner/planner-graph-event-icon model=event index=index lineChart=lineChart plan=model showEvent=attrs.displaySelectedEvent}}
  {{/each}}
  {{#unless hideDragHereOverlay}}
    <div class='planner-graph-drag-here-overlay'>
      <h6>Drag events from above onto graph</h6>
    </div>
  {{/unless}}
{{/if}}
