<div class='s24 pad5 flex-justify-centre flex-align-centre'>
  {{#if model.eventType.iconPath}}
    {{inline-svg model.eventType.iconPath class='svg-small-medium'}}
  {{/if}}
  <div class='pad5'>
    <b>{{model.eventType.name}}</b>
  </div>
</div>
<div class='s24 flex-row-wrap pad5'>
  <!--
  <div class='s24'>
    {{shared/inputs/element-input type=text value=model.name placeholder='name (optional)' helpMessage="Give the event a name to help identify it later"}}
  </div>
-->
  <div class='s24 flex-row-wrap'>
    {{#if lumpSum}}
      <div class='s16'>
        {{shared/inputs/element-currencyfield value=model.eventValue placeholder='lump sum amount' helpMessage='The dollar value you will pay against your loan(s)'}}
      </div>
      <div class='s08'>
        {{shared/inputs/element-termfield value=model.recurrenceInterval placeholder='repeat every' noMonths=true}}
      </div>
    {{/if}}


    {{#if borrowMore}}
      {{shared/inputs/element-currencyfield value=model.eventValue placeholder='additional borrowing' helpMessage="The amount you will borrow over and above whatever is outstanding on your existing lending"}}
    {{/if}}


    {{#if roundUp}}
      {{shared/inputs/element-currencyfield value=model.eventValue placeholder='round to nearest $' helpMessage="The nearest figure you want to round payments up to. Enter $1 to round to the nearest dollar, or $100 to round up to the nearest $100"}}
    {{/if}}


    {{#if increasePayments}}
      <div class='s03 flex-align-centre flex-justify-centre'>
        {{#unless valueIsPercent}}
          {{inline-svg 'icons/selected-dot' class='svg-tiny'}}
        {{/unless}}
      </div>
      <div class='s12'>
        {{shared/inputs/element-currencyfield value=eventValue placeholder='increase by $' helpMessage='The dollar value by which to increase loan repayments'}}
      </div>
      <div class='s09'>
        {{shared/inputs/element-termfield value=dollarRecurrence placeholder='repeat every' noMonths=true}}
      </div>
      <div class='s03 flex-align-centre flex-justify-centre'>
        {{#if valueIsPercent}}
          {{inline-svg 'icons/selected-dot' class='svg-tiny'}}
        {{/if}}
      </div>
      <div class='s12'>
        {{shared/inputs/element-percentfield value=eventPercent placeholder='increase by %' helpMessage='The percentage by which to increase loan repayments'}}
      </div>
      <div class='s09'>
        {{shared/inputs/element-termfield value=percentRecurrence placeholder='repeat every' noMonths=true}}
      </div>
    {{/if}}


    {{#if reducePayments}}
      <div class='s03 flex-align-centre flex-justify-centre'>
        {{#unless valueIsPercent}}
          {{inline-svg 'icons/selected-dot' class='svg-tiny'}}
        {{/unless}}
      </div>
      <div class='s12'>
        {{shared/inputs/element-currencyfield value=eventValue placeholder='reduce by $' helpMessage='The dollar value by which to reduce loan repayments'}}
      </div>
      <div class='s09'>
        {{shared/inputs/element-termfield value=dollarRecurrence placeholder='repeat every' noMonths=true}}
      </div>
      <div class='s03 flex-align-centre flex-justify-centre'>
        {{#if valueIsPercent}}
          {{inline-svg 'icons/selected-dot' class='svg-tiny'}}
        {{/if}}
      </div>
      <div class='s12'>
        {{shared/inputs/element-percentfield value=eventPercent placeholder='reduce by %' helpMessage='The percentage by which to reduce loan repayments'}}
      </div>
      <div class='s09'>
        {{shared/inputs/element-termfield value=percentRecurrence placeholder='repeat every' noMonths=true}}
      </div>
    {{/if}}


    {{#if recalculatePayments}}
      {{shared/inputs/element-input type=number value=model.eventValue placeholder='year to be paid off by' helpMessage="The year (number) you wish to have the loan paid off by. We'll calculate the payment necessary"}}
    {{/if}}


    {{#if intOnly}}
    <span class='font-three-quarter'>This will reduce your loan payments to cover the interest only. Add a "recalculate" or "increase" payment event to end the interest only term</span>

    {{/if}}


    {{#if rateChange}}
      {{shared/inputs/element-percentfield value=model.eventValue placeholder='new interest rate' helpMessage='The new interest rate to take affect after this event'}}
    {{/if}}


    {{#if payOff}}
      <span class='font-three-quarter'>This will reduce your loan balance to zero.  Any loan events occuring after this event will no longer affect your loans.</span>
    {{/if}}
  </div>
  <div class='s24 flex-justify-centre'>
    {{shared/buttons/element-save-button action='saveEvent'}}
    {{shared/buttons/element-delete-button action='destroyEvent'}}
  </div>
</div>
