<div class='element-table-row-display {{unless showDisplayRow "in-edit-mode"}}'  {{action 'toggleViewOptions'}}>
  <div class='element-table-row-element s10 m06'>
    <label>{{model.liabilityType.name}}</label>
  </div>

  <div class='element-table-row-element s06 m06'>
    {{shared/labels/label-with-placeholder-option value=model.owing currency=true}}
  </div>
  <div class='element-table-row-element s0 m02'>
    {{shared/labels/label-with-placeholder-option value=model.interestRate percent=true}}
  </div>
  <div class='element-table-row-element s0 m02'>
    {{#if model.interestOnly}}
      {{shared/labels/label-with-placeholder-option value='Int Only'}}
    {{/if}}
  </div>
  <div class='element-table-row-element right-align s0 m04'>
    {{shared/labels/label-with-placeholder-option value=model.frequency.name}}:
  </div>

  <div class='element-table-row-element right-align s08 m04'>
    {{shared/labels/label-with-placeholder-option value=model.estimatedRepayment currency=true}}
  </div>
</div>

<div class='element-table-row-edit  {{if showEditRow "in-edit-mode"}}'>
  <div class='element-table-row-element s12 m05'>
    {{shared/inputs/element-select value=model.liabilityType placeholder='loan type' optionsList=loanTypes helpMessage="The frequency loan repayments will be made"}}
  </div>
  <div class='element-table-row-element s08 m04'>
    {{shared/inputs/element-currencyfield value=model.owing placeholder='loan amount' helpMessage="The amount of your current loan(s) or the amount you intend to borrow"}}
  </div>
  <div class='element-table-row-element s04 m02'>
    {{shared/inputs/element-termfield value=model.remainingMonths placeholder='term' noMonths=true helpMessage="The remaining term for your current loan(s) or the proposed term of any new loans"}}
  </div>
  <div class='element-table-row-element s06 m03'>
    {{shared/inputs/element-percentfield value=model.interestRate placeholder='int rate' helpMessage="The average interest rate for your current loan(s) or any proposed new loans"}}
  </div>
  <div class='element-table-row-element s04 m02'>
    {{shared/inputs/element-checkbox placeholder="int only?" offVal='no' onVal='yes' isChecked=model.interestOnly helpMessage='Select yes if you are a legal resident or citizen of NZ'}}
  </div>
  <div class='element-table-row-element s08 m04'>
    {{shared/inputs/element-select value=model.frequency placeholder='pmt frequency' listName='frequency' helpMessage="The frequency loan repayments will be made"}}
  </div>
  <div class='element-table-row-element s06 m04'>
    {{shared/labels/label-with-placeholder-option value=model.estimatedRepayment placeholder='repayments' currency=true inputSize=true helpMessage='An estimate of the repayments based on the loan amount, term, interest rate and payment frequency'}}
  </div>
</div>
<div class='element-table-row-options {{if showOptions "in-focus"}}'>
  {{shared/assemblies/edit-save-delete model=model modelName='security' edit=inEditMode}}
</div>
{{yield}}
