{{yield}}
<div class='s24 flex-row-wrap flex-align-centre'>
  <div class='s04'>
  </div>
  <div class='s11 column-header'>
    loan value
  </div>
  <div class='s06 column-header'>
    rate
  </div>
  <div class='s03 column-header'>
  </div>
</div>
<div class='structure-loan-portion-container'>
  <div class='s24 column-nowrap'>
    {{#each model as |loanPortion|}}
      <div class='element-table-row'>
        <div class='element-table-row-display'  {{action 'showLoan' loanPortion}}>

          <div class='s03 flex-row-nowrap flex-align-centre' {{action 'removeLoan' loanPortion}}>
            {{inline-svg 'icons/remove' class='svg-small hover-opaque'}}
          </div>
          <div class='s12'>
            {{shared/labels/label-with-placeholder-option value=loanPortion.owing currency=true}}
          </div>
          <div class='s06'>
            {{shared/labels/label-with-placeholder-option value=loanPortion.interestRate percent=true}}
          </div>
          <div class='s03 flex-justify-end flex-align-centre'>
            {{inline-svg 'icons/table-arrow-fwd' class='svg-tiny-small master-detail-fwd accent-darkest-icon'}}
          </div>
        </div>
      </div>
      {{#shared/tools/segments/tool-presentation-object show=loanPortion.showLoan}}

        {{component loanDetailComponent model=loanPortion title='Loan/Portion' closeAttribute=closeAttribute backAttribute=loanPortion.showLoan backTitle='structure' onlyLoanInStructure=singleLoanStructure hideInterestOnly=hideInterestOnly}}
        {{!toolkit/quick-payment-calculator model=loanPortion title='Loan/Portion' closeAttribute=closeAttribute backAttribute=loanPortion.showLoan backTitle='structure' onlyLoanInStructure=singleLoanStructure hideInterestOnly=hideInterestOnly}}
      {{/shared/tools/segments/tool-presentation-object}}

    {{/each}}
  </div>
</div>
