{{yield}}
<div class='s24'>
  {{#shared/inputs/element-slider value=model.owing min=30000 max=2000000 basis=1000 svgPath='icons/slider-icon-dollar'}}
    <div class='s12'>
      {{shared/inputs/element-currencyfield value=model.owing placeholder='amount' centre=true hideBorder=true}}
    </div>
  {{/shared/inputs/element-slider}}
</div>
<div class='s24'>
  {{#shared/inputs/element-slider value=model.remainingMonths min=12 max=360 basis=12 svgPath='icons/slider-icon-time'}}
    <div class='s12'>
      {{shared/inputs/element-termfield value=model.remainingMonths placeholder='term' noMonths=true centre=true hideBorder=true}}
    </div>
  {{/shared/inputs/element-slider}}
</div>

<div class='s24'>
  {{#shared/inputs/element-slider value=model.interestRate min=0.01 max=0.1 basis=0.0001 svgPath='icons/slider-icon-percent'}}
    <div class='s12'>
      {{shared/inputs/element-percentfield value=model.interestRate placeholder='rate' centre=true rightAlign=true hideBorder=true}}
    </div>
  {{/shared/inputs/element-slider}}
</div>

<!-- Interest Only Selector  -->
{{#unless hideInterestOnly}}
  <div class='s24 spacer'>
  </div>
  <div class='s24 pad5'>
    {{shared/inputs/element-segmentbutton value=interestType listItems=interestTypes}}
  </div>
{{/unless}}
