.application-wizard-background{
  position: fixed;
  left: 0;
  width: 100vw;
  top: 0;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
}

.application-wizard-container {
  width: 99vw;
  height: 99vh;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: left;
}

.application-wizard-close-button {
  position: absolute;
  height: 30px;
  right: 1%;
  top: 1%;
}

.application-wizard-page {
  width: 100%;
  max-width: 900px;
  height: 0vh;
  overflow-y: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  @include easer(0.4s);

  &.in-focus {
    height: 99vh;
  }
}

.application-wizard-navigation-container {
  width: 70px;
  height: 70px;
  position: absolute;
  cursor: pointer;
  right: 1%;
  bottom: 1%;
  z-index: 10001;
  &:hover {
    opacity: 0.9;
  }
  &.hidden {
    display: none;
  }
}

.application-wizard-navigation-inner-container {
  position: relative;
}

.application-wizard-navigation-segment {
  width: 70px;
  height: 35px;
  z-index: 10002;
  position: absolute;
  top: 0;
  left: 0;

  &.lower {
    top: 45px;
  }
}

.application-wizard-client-details {
  margin: 20px;
}

.application-wizard-client-details-popover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 10002;
}

.application-wizard-client-details-container {
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}


.application-wizard-people-add-client {
  height: 135px;
  width: 145px;
  margin: 20px 15px;
  //border: 5px solid #2196F3;
  //border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}

.application-wizard-people-add-client-add-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  border-radius: 100%;
  color: white;
}

.application-wizard-client-details-header {
  width: 100%;
  height: 100px;
  background-color: #282C34;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.application-wizard-client-details-offset-gravatar {
  height: 135px;
  margin-top: 30px;
}

.application-wizard-client-details-body {
  width: 100%;
  background-color: white;
  padding: 55px 10px 10px;

  height: calc(98vh - 100px);
  overflow-y: auto;
  @include respond-to(medium) {
    padding: 65px 3% 10px;
  };
}

.application-wizard-copy-client-button {
  position: absolute;
  top: 115px;
  right: 4%;
  color: $accentDarker;
}

.application-wizard-copy-client-popover {
  position: absolute;
  right: 0;
  top: 25px;
  max-height: 0px;
  overflow-y: hidden;

  @include easer(0.4s);

  &.in-focus {
    max-height: 60px;
  }
}

.application-wizard-copy-client-row {
  background-color: white;
  padding: 3px 5px;
  color: $accentDarker;
  cursor: pointer;
  width: 220px;
  text-align: right;

  &:hover {
    opacity: 0.9;
  }
}

.application-wizard-summary-application-options-container {
  max-width: 500px;
}
