<span class='cursor-pointer hover-underline' {{action 'launchWizard'}}>Launch Wizard</span>
{{#if showWizard}}
  <div class='application-wizard-background'>
    <div class='application-wizard-container'>
      <button class='tools-close-button application-wizard-close-button' {{action 'closeWizard'}}>{{inline-svg "icons/close-popover" class='svg-small accent-darker-icon' }}</button>

      {{socket/loan-app-wizard/pages/launch-page model=loanParty show=launch start=(action 'navigate' 'down')}}
      {{socket/loan-app-wizard/pages/summary-page model=loanParty show=summary}}
      {{socket/loan-app-wizard/pages/new-securities-page model=loanParty show=newSecurities}}
      {{socket/loan-app-wizard/pages/people-page model=loanParty show=people}}
      {{!socket/loan-app-wizard/pages/securities-page model=loanParty show=properties}}
      {{socket/loan-app-wizard/pages/assets-page model=loanParty show=assets}}
      {{socket/loan-app-wizard/pages/liabilities-page model=loanParty show=liabilities}}
      {{socket/loan-app-wizard/pages/incomes-page model=loanParty show=income}}
      {{socket/loan-app-wizard/pages/expenses-page model=loanParty show=expenses}}
      {{socket/loan-app-wizard/pages/documents-page model=loanParty show=documents}}
      {{socket/loan-app-wizard/pages/finish-page model=loanParty show=finish closeAttribute=showWizard page=page}}

      {{!#unless hideNavigator}}
      {{socket/loan-app-wizard/elements/progress-navigator navigate=(action 'navigate') progress=progress}}
      {{!/unless}}
    </div>
  </div>

{{/if}}
