.pricing-settings-button-container {
  position: fixed;
  top: 60;
  left: 5px;
  z-index: 10;
}
.pricing-comparator-body {
  position: relative;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  margin-top: 50px;
}


.pricing-comparator-content-box {
  overflow-y: visible;

  width: calc(100vw - 10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all 0.3s ease-in-out;

  @include flexbox();
  @include flex(1 0 auto);

  &.left {
    transform: translateX(-101%);
  }
  &.right {
    transform: translateX(101%);
    z-index: 1;
  }
}


.pricing-comparator-stretchy-body-container{
  width: calc(100% - 10px);
  background-color: white;
  border: 3px solid rgba(233, 233, 233, 1);
  border-radius: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  display: flex;
  @include flex(1 0 auto)
  @include align-content(stretch);
  @include align-items(stretch);
  @include flex-flow(row nowrap);
}

.pricing-comparator-bottom-section{
  height: 100px;
  position: relative;
  overflow: hidden;
  @include respond-to(small){
    height: 85px;
  };
}

.pricing-comparator-proposition-bar {
  background-color: rgba(233, 233, 233, 1);
  z-index: 2;
  width: 100%;
  margin-top: -3px;
  justify-content: center;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}

.pricing-comparator-plus-button {
  position: absolute;
  z-index: 10;
  bottom: -100px;
  left: 50vw;
  transform: translateX(-50%);
  transition: all 0.6s ease-in-out;
  &.in-focus {
    bottom: 5px;
  }
}
.pricing-comparator-page-select {
  position: fixed;
  bottom: 35px;
  display: flex;
  align-items: center;
  align-content: center;
  color: $accentDarkest;
  cursor: pointer;
  &.left {
    left: 10px;
  }
  &.right {
    right: 10px;
  }
  &:hover {
    opacity: 0.9;
  }
}
.pricing-offers-label-column {
  border-right: 2px solid #48A0DC;
}
.pricing-offer-grey-column {
  background-color: rgba(250,250,250,1);
}
.pricing-offer-content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  //position: absolute;
  //left: 0;
  //top: 0;
}
.pricing-offer-missing-rates {
  font-weight: bold;
  color: red;
}
.pricing-offer-cheapest {
  font-weight: bold;
  color: green !important;
}
.pricing-top-border {
  border-top: 2px solid $accent;
}
.pricing-bottom-border {
  border-bottom: 2px solid $accent;
}
.pricing-offer-view {
  overflow-y: scroll;
  flex: 0 0 auto;
}
.pricing-rate-term {
  color: $accentDarkest;
  font-weight: bold;
  flex-flow: row nowrap;
  display: flex;
  align-items: center;
  align-content: center;
  //padding-top: 1rem;
  //height: calc(3.5rem + 1px);
}
.pricing-offer-height-limit {
  height: 3.6rem;
  min-height: 3.6rem;
  max-height: 3.6rem;
  &.sm {
    height: 3rem;
    min-height: 3rem;
    max-height: 3rem;
  }
}
.remove-btn {
  cursor: pointer;
}
