
.structure-loan-portion-container{
  max-height: 240px;
  overflow-y: auto;

}

.payment-option {
  color: $accentDarker;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0);
  &:hover {
    opacity: 0.9;
  }
}

.selected-frequency-underscore {
  width: 25%;
  height: 2px;
  margin: -5px 4% 0;
  background-color: $accent;
  transition: all 0.3s ease-in-out;
  &.left {
    transform: translateX(0);
  }
  &.centre {
    transform: translateX(133%);
  }
  &.right {
    transform: translateX(266%);
  }
}


.socket-logo-print {
  width: 30px;
  height: 15px;
}

.header-subtext {
  font-size: 0.75rem;
  margin-top: -6px;
  margin-bottom: 5px;
}


.toolkit-floating-instruction-button {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 3px solid rgba(220, 220, 220, 0.5);
  background-color: white;
  z-index: 100;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
