<div {{action 'viewDetails'}} class='cursor-pointer hover-opaque'>
  {{shared/elements/gravatars/gravatar-with-default model=model ghosted=false size='medium' showLabel=true}}
</div>

{{#if model.showDetails}}
  <div class='application-wizard-client-details-popover'>
    <div class='application-wizard-client-details-container'>
      <div class='application-wizard-client-details-header'>
        <div class='application-wizard-client-details-offset-gravatar'>
          {{shared/elements/gravatars/gravatar-with-default model=model ghosted=false size='large'}}
        </div>
      </div>
      <div class='application-wizard-client-details-body'>
        {{#if showCopyPerson}}
          <div class='application-wizard-copy-client-button'>
            <div class='relative'>
              <span class='pad5 cursor-pointer hover-opaque hover-underline' {{action 'viewCopyClients'}}><b>Copy</b></span>
              <div class='application-wizard-copy-client-popover {{if showCopyClients "in-focus"}}'>
                {{#each individualsToCopyFrom as |client|}}
                  <div class='application-wizard-copy-client-row' {{action 'copyIndividual' client}}>
                    {{client.name}}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        {{/if}}

        <div class='s24 flex-row-wrap'>
          {{#unless isPerson}}
            <div class='s24 m08'>
              {{shared/inputs/element-input type='text' value=model.firstName placeholder='company/trust name' helpMessage='Company name as it appears on the identification to be provided'}}
            </div>
            <div class='s12 m08'>
              {{shared/inputs/element-input type=text value=model.email placeholder='email' helpMessage="Your email address"}}
            </div>
            <div class='s12 m08'>
              {{shared/inputs/element-input type=text value=model.phone placeholder='phone' helpMessage="Your phone number"}}
            </div>
            <div class='s24'>
              {{shared/inputs/address-input-with-lookup address=model.currentAddress placeholder='current address'}}
            </div>
          {{else}}
            <div class='s06 m03'>
              {{shared/inputs/element-select value=model.salutation placeholder='title' listName='salutation'}}
            </div>
            <div class='s18 m07'>
              {{shared/inputs/element-input type='text' value=model.firstName placeholder='first name' helpMessage='First name as it appears on the identification to be provided'}}
            </div>
            <div class='s12 m07'>
              {{shared/inputs/element-input type='text' value=model.middleName placeholder='middle name(s)'}}
            </div>
            <div class='s12 m07'>
              {{shared/inputs/element-input type='text' value=model.lastName placeholder='last name'}}
            </div>


          {{/unless}}
        </div>


        {{#if isPerson}}

          <div class='s24 spacer'>
          </div>
          <div class='s24'>
            <div class='subheader accent-darkest-fg'>
              <b>General</b>
            </div>
          </div>
          <div class='s24 flex-row-wrap'>
            <div class='s12 m04'>
              {{shared/inputs/element-string-select value=model.gender placeholder='m/f' selectOptions=genders}}
            </div>
            <div class='s12 m04'>
              {{shared/inputs/element-select value=model.maritalStatus placeholder='marital status' listName='maritalStatus' }}
            </div>
            <div class='s12 m04'>
              {{shared/inputs/element-datefield value=model.dob placeholder='date of birth'}}
            </div>
            <div class='s12 m08'>
              {{shared/inputs/element-string-select value=model.countryOfBirth placeholder='country of birth' selectOptions=countriesList helpMessage="In what country was this person born?"}}
            </div>
            <div class='s12 m04'>
            {{#unless model.bornInNz}}
                {{shared/inputs/element-checkbox placeholder="NZ resident?" offVal='no' onVal='yes' isChecked=model.isResident helpMessage='Select yes if you are a legal resident or citizen of NZ'}}
            {{/unless}}
            </div>

            <!--div class='s12 m06'>
              {{shared/inputs/element-input type='text' value=model.identification placeholder='identification' helpMessage='The type and number of ID provided, such as "D/L 12345"'}}
            </div>
            <div class='s12 m06'>
              {{shared/inputs/element-input type='text' value=model.secondaryIdentification placeholder='sec identification' helpMessage='The type and number of secondary ID provided, such as "D/L 12345"'}}
            </div-->
            <div class='s12 m06'>
              {{shared/inputs/element-input type=number value=model.minorDependants placeholder='# dependants under 18' helpMessage="Number of dependants under 18"}}
            </div>
            <div class='s12 m06'>
              {{!shared/inputs/element-input type='text' value=model.nonMinorDependants placeholder='# dependants 18+' helpMessage='Number of dependants living with you over 18'}}
            </div>
          </div>

          <div class='s24 spacer'>
          </div>
          <div class='s24'>
            <div class='subheader accent-darkest-fg'>
              <b>Contacts</b>
            </div>
          </div>
          <div class='s24 flex-row-wrap'>
            <div class='s24 m14'>
              {{shared/inputs/element-input type=text value=model.email placeholder='email' helpMessage="Your email address"}}
            </div>
            <div class=' s24 m10'>
              {{shared/inputs/element-input type=text value=model.phone placeholder='phone' helpMessage="Your phone number"}}
            </div>

            <div class=' s16 m14'>
              {{shared/inputs/address-input-with-lookup address=model.currentAddress placeholder='current address'}}
            </div>
            <div class=' s08 m05'>
              {{shared/inputs/element-termfield value=model.monthsAtCurrentAddress placeholder='time there' helpMessage='How long have you lived at this address. Note: if this is less than 3 years, a previous address will be required'}}
            </div>
            <div class='s12 m05'>
              {{shared/inputs/element-select value=model.livingArrangement placeholder='living arrangement' listName='livingArrangement'}}
            </div>

            {{#if previousAddressRequired}}
            <div class=' s16 m14'>
              {{shared/inputs/address-input-with-lookup address=model.previousAddress placeholder='previous address'}}
            </div>
            <div class=' s08 m05'>
              {{shared/inputs/element-termfield value=model.monthsAtPreviousAddress placeholder='time there'}}
            </div>
            {{/if}}

          </div>




          <div class='s24 spacer'>
          </div>
          <div class='s24'>
            <div class='subheader accent-darkest-fg'>
              <b>Employment</b>
            </div>
          </div>
          <div class='s24 flex-row-wrap'>
            <div class='s24 m06'>
              {{shared/inputs/element-select value=model.employmentStatus placeholder='employment status' listName='employmentStatus'}}
            </div>
            <div class='s24 m06'>
              {{shared/inputs/element-input type='text' value=model.occupation placeholder='occupation'}}
            </div>
            <div class='s16 m07'>
              {{shared/inputs/element-input type='text' value=model.employer placeholder='employer'}}
            </div>
            <div class='s08 m05'>
              {{shared/inputs/element-termfield value=model.monthsAtCurrentEmployer placeholder='time there' helpMessage='How long have you worked for this employer/been a retiree/student/homemaker'}}
            </div>
            {{#if previousEmployerRequired}}
              <div class='s00 m12 spacer'>
              </div>
              <div class='s16 m07'>
                {{shared/inputs/element-input type='text' value=model.previousEmployer placeholder='previous employer'}}
              </div>
              <div class='s08 m05'>
                {{shared/inputs/element-termfield value=model.monthsAtPreviousEmployer placeholder='time there'}}
              </div>
            {{/if}}
          </div>

        {{/if}}

        <div class='s24 spacer'>
        </div>
        <div class='row-divide'>
        </div>

        <div class='s24 flex-justify-centre'>
          {{shared/assemblies/undo-save-delete isSaving=isSaving save=(action 'save') delete=(action 'delete')}}
        </div>

        <div class='s24 spacer'>
        </div>

      </div>
    </div>
  </div>



{{/if}}
