
<div class='application-wizard-navigation-inner-container'>
  <canvas id="navCanvas" width="90" height="90"></canvas>
  <div class='application-wizard-navigation-segment' {{action 'navigate' 'up'}}>
  </div>
  <div class='application-wizard-navigation-segment lower' {{action 'navigate' 'down'}}>
  </div>
</div>
