<div class='s24 flex-column-nowrap flex-align-centre'>
  <div class='s23 flex-column-nowrap'>
    {{#each model as |doc|}}
      {{socket/loan-app-wizard/elements/documents/document-single-line model=doc loanApplication=loanApplication }}
    {{/each}}
  </div>
</div>
