<div class='s24 flex-row-nowrap flex-align-stretch'>
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap'>
    <div class='flex-icon-div pad5'>
      {{inline-svg model.iconPath class='svg-small'}}
    </div>
    <div class='s12 m08 pad5 label-ellipses'>
      {{format-long-string model.name}}
    </div>
    {{#if model.isUploading}}
      <div class='s00 m08'>
        <b>UPLOADING...</b>
      </div>
      <div class='s12 m08 text-end flex-justify-end'>
        {{shared/elements/form-progress-bar progress=model.uploadProgress}}
      </div>
    {{else}}
      <div class='s00 m08 pad5'>
        {{format-long-string model.documentPurpose.name}}
      </div>
      <div class='s12 m08 text-end flex-justify-end'>
        <label class='font-three-quarter'>{{lastModifiedDisplay}}</label>
      </div>
    {{/if}}
  </div>
  {{#unless model.isUploading}}
    {{#shared/buttons/table-row-options-button}}
      <div class='icon-flex-div' {{action 'viewDocument'}} title='View Document'>
        {{inline-svg 'icons/buttons/table-options-view-doc' class='svg-smaller white-icon hover-opaque'}}
      </div>
      <div class='icon-flex-div' {{action 'deleteRecord'}} title='Delete'>
        {{inline-svg 'icons/buttons/table-options-delete' class='svg-smaller white-icon hover-opaque'}}
      </div>
    {{/shared/buttons/table-row-options-button}}
  {{/unless}}

</div>

{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='medium' closeAttribute=model.showDetails}}
    {{socket/loan-app-wizard/elements/documents/document-details-popover model=model loanApplication=model.loanApplication closeAttribute=model.showDetails}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
