<div class='s24 flex-row-nowrap'>
  <div class='s18 m21 flex-column-nowrap flex-justify-centre'>
    <div class='s24'>
      {{model}}
    </div>
    <div class='s24 accent-darker-fg'>
      {{#if uploading}}
        <div class='s12 m06'>
          Uploading..
        </div>
        <div class='s12 m16'>
          {{shared/elements/form-progress-bar progress=uploading}}
        </div>
      {{else}}
        <div class='s24 {{if hasDocs "selectable hover-underline"}}' {{action 'viewDocs'}}>
          {{documents.length}} documents
        </div>
      {{/if}}
    </div>
  </div>
  <div class='s06 m03 flex-align-centre flex-justify-centre'>
    {{#shared/elements/file-uploader/file-upload newDocumentCreated=(action 'newDocumentCreated') uploadComplete=(action 'newDocumentUploadComplete') uploadError=(action 'uploadError')}}
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='document' addButton=true displayLabel=true altClasses='accent-darker-fg accent-darkest-icon'}}
          add document
      {{/shared/buttons/svg-circle-button}}
    {{/shared/elements/file-uploader/file-upload}}
  </div>
</div>

{{#if showDocs}}
  {{#shared/tools/tools-popover-tool-container title='Documents' size='medium' closeAttribute=showDocs}}
    {{socket/loan-app-wizard/elements/documents/document-popover-list model=documents loanParty=loanParty loanApplication=loanApplication closeAttribute=showDocs}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
