<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>

<!--  Title Bar -->
  {{shared/tools/segments/tool-title-bar title='Loan Structure' closeAttribute=closeAttribute}}



  <div class='s24 pad5 flex-column-nowrap'>
    {{yield}}

    {{socket/toolkit/-pieces/loan-listing model=model loanDetailComponent="socket/toolkit/quick-payment-calculator" hideInterestOnly=hideInterestOnly}}

    <div class='s24 spacer'>
    </div>
    <div class='row-divide'>
    </div>

    <div class='s24 flex-justify-centre text-centre'>
      <h6>Total Proposition</h6>
    </div>

    <div class='s24 flex-row-nowrap accent-darkest-fg'>

      <div class='s12'>
        {{shared/labels/label-with-placeholder-option value=propositionValue currency=true placeholder='total value' centre=true inputSize=true}}
      </div>
      <div class='s12'>
        {{shared/labels/label-with-placeholder-option value=propositionInterestRate percent=true placeholder='average rate' centre=true inputSize=true}}
      </div>
    </div>


    <div class='row-divide'>
    </div>




    <div class='s24 flex-justify-centre text-centre'>
      <h6>Total Repayments</h6>

    </div>
    <div class='s24 header-subtext text-centre'>
      <i>(select one)</i>
    </div>


    <div class='s24 flex-row-wrap'>
      <div class='m08 payment-option {{if pmtIsWeekly "embolden"}}' {{action 'selectPaymentFreq' 'Weekly'}}>
        {{shared/labels/label-with-placeholder-option value=totalWeeklyPayments placeholder='weekly' inputSize=true centre=true currency=true}}
      </div>
      <div class='m08 payment-option {{if pmtIsFortnightly "embolden"}}' {{action 'selectPaymentFreq' 'Fortnightly'}}>
        {{shared/labels/label-with-placeholder-option value=totalFortnightlyPayments placeholder='fortnightly' inputSize=true centre=true currency=true}}
      </div>
      <div class='m08 payment-option {{if pmtIsMonthly "embolden"}}' {{action 'selectPaymentFreq' 'Monthly'}}>
        {{shared/labels/label-with-placeholder-option value=totalMonthlyPayments placeholder='monthly' inputSize=true centre=true currency=true}}
      </div>
      <div class='s24 relative'>
        <div class='selected-frequency-underscore {{if pmtIsWeekly "left"}}{{if pmtIsFortnightly "centre"}}{{if pmtIsMonthly "right"}}'>
        </div>
      </div>
    </div>


    <div class='row-divide'>
    </div>
    <div class='s24 spacer'>
    </div>
  <!-- spacers so pmt calc fits  -->
    {{#unless hideInterestOnly}}
      <div class='s24 spacer'>
      </div>
      <div class='s24 spacer'>
      </div>
      <div class='s24 spacer'>
      </div>
    {{/unless}}

    <div class='s24 pad5 flex-justify-space-around'>
      <div class='s02'>
      </div>
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='planner-add-loan' displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'addLoan')}}
          add loan
      {{/shared/buttons/svg-circle-button}}
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='planner-reset' displayLabel=true altClasses='accent-darker-bd accent-darker-icon' onClick=(action 'resetPlan')}}
          reset plan
      {{/shared/buttons/svg-circle-button}}
      <div class='s02'>
      </div>
    </div>

    <div class='s24 spacer'>
    </div>

  </div>
</div>
