<!--  Title Bar -->
{{#unless hideTitle}}
  {{shared/tools/segments/tool-title-bar title=title closeAttribute=closeAttribute backAttribute=backAttribute backTitle=backTitle}}
{{/unless}}
<div class='tools-tool-scroll-body'>
  {{socket/toolkit/-pieces/loan-details-sliders model=model hideInterestOnly=hideInterestOnly}}

  <div class='s24 spacer'>
  </div>
  <div class='row-divide'>
  </div>



  <div class='s24 flex-justify-centre text-centre'>
    <h6>Repayments</h6>
  </div>

  <div class='s24 flex-row-wrap flex-justify-centre'>
    <div class='s08 payment-option {{if onlyLoanInStructure "selectable"}} {{if pmtIsWeekly "embolden"}}' {{action 'selectPaymentFreq' 'Weekly'}}>
      {{shared/labels/label-with-placeholder-option value=model.weeklyPayment placeholder='weekly' inputSize=true centre=true currency=true}}
    </div>
    <div class='s08  payment-option {{if onlyLoanInStructure "selectable"}} {{if pmtIsFortnightly "embolden"}}' {{action 'selectPaymentFreq' 'Fortnightly'}}>
      {{shared/labels/label-with-placeholder-option value=model.fortnightlyPayment placeholder='fortnightly' inputSize=true centre=true currency=true}}
    </div>
    <div class='s08 payment-option {{if onlyLoanInStructure "selectable"}} {{if pmtIsMonthly "embolden"}}' {{action 'selectPaymentFreq' 'Monthly'}}>
      {{shared/labels/label-with-placeholder-option value=model.monthlyPayment placeholder='monthly' inputSize=true centre=true currency=true}}
    </div>
    {{#if onlyLoanInStructure}}
      <div class='s24 relative'>
        <div class='selected-frequency-underscore {{if pmtIsWeekly "left"}}{{if pmtIsFortnightly "centre"}}{{if pmtIsMonthly "right"}}'>
        </div>
      </div>
    {{/if}}
  </div>
  <div class='s24 spacer'>
  </div>
  <div class='row-divide'>
  </div>
  <div class='s24 spacer'>
  </div>
  {{#if showLifeTimeCost}}
  <div class='s24 flex-justify-centre text-centre'>
    <h6>Total Cost Over Life Of Loan</h6>
  </div>
  <div class='s24 flex-justify-centre text-centre'>
    {{format-currency model.lifeTimeCost}}
  </div>
  {{/if}}


</div>
