<div class='s24 m22 l18'>
  <div class='grey-bordered-white-box-flat flex-row-nowrap font-three-quarter flex-align-centre flex-justify-centre text-centre pad5'>
      <i>
        Record income, expenses and debt repayments below, then set an appropriate lending interest rate.
        <br/>
        <br/>
        Use the sliders to adjust a desired Uncommitted Monthly Income and/or Debt Servicing Ratio to determing the borrowing capacity under each measure.

      <br/>
      <br/>
        <b>Tip: </b>Use the Budget Builder to create an accurate budget first.
      </i>
  </div>
</div>




<div class='s24 m22 l18'>
  <div class='grey-bordered-white-box-flat flex-column-nowrap flex-align-centre'>
    <div class='s22 flex-justify-centre text-centre'>
      <h6>Income & Expenses</h6>
    </div>
    <div class='s23 flex-row-wrap flex-justify-centre'>
      <div class='s24 m08'>
        {{shared/inputs/element-currencyfield value=model.totalIncome placeholder='net monthly income' centre=true}}
      </div>
      <div class='s24 m08'>
        {{shared/inputs/element-currencyfield value=model.totalExpenses placeholder='monthly expenses' centre=true}}
      </div>
      <div class='s24 m08'>
        {{shared/inputs/element-currencyfield value=model.totalDebtServicing placeholder='monthly debt repayments (current)' centre=true}}
      </div>
      <div class='s24 m24'>
        {{#shared/inputs/element-slider value=model.interestRate min=0.01 max=0.1 basis=0.0001 svgPath='icons/slider-icon-percent'}}
          <div class='s12'>
            {{shared/inputs/element-percentfield value=model.interestRate placeholder='approximate interest rate' centre=true rightAlign=true hideBorder=true}}
          </div>
        {{/shared/inputs/element-slider}}
      </div>
    </div>

    <div class='s24 spacer'>
    </div>
  </div>

</div>

<div class='s24 m11 l09 flex-row-wrap'>
  <div class='grey-bordered-white-box-flat flex-column-nowrap flex-align-centre pad5'>

    <div class='s22 flex-justify-centre text-centre flex-align-centre pad5'>
      <h6>Max Lending By UMI: {{format-currency model.lendingPowerByUmi}}</h6>
      {{shared/elements/help-icon helpMessage='Uncommitted Monthly Income: The remaining funds the borrower is expected to have each month after paying all outgoings, including loan repayments'}}
    </div>

    <div class='s22'>
      {{#shared/inputs/element-slider value=model.targetUmi min=0 max=1000 basis=10 svgPath='icons/slider-icon-dollar'}}
        <div class='s12'>
          {{shared/inputs/element-currencyfield value=model.targetUmi placeholder='target uncommitted monthly income (UMI)' centre=true hideBorder=true}}
        </div>
      {{/shared/inputs/element-slider}}
    </div>


    <div class='s24 spacer'>
    </div>
  </div>

</div>

<div class='s24 m11 l09 flex-row-wrap'>

  <div class='grey-bordered-white-box-flat flex-column-nowrap flex-align-centre pad5'>
    <div class='s22 flex-justify-centre text-centre flex-align-centre pad5'>
      <h6>Max Lending By DSR: {{format-currency model.lendingPowerByDsr}}</h6>
      {{shared/elements/help-icon helpMessage='Debt Servicing Ratio: The percentage of the borrowers net monthly income required to service debt repayments'}}

    </div>

    <div class='s24'>
      {{#shared/inputs/element-slider value=model.targetDsr min=0.1 max=0.5 basis=0.01 svgPath='icons/slider-icon-percent'}}
        <div class='s12'>
          {{shared/inputs/element-percentfield value=model.targetDsr placeholder='target debt servicing ratio (DSR)' centre=true rightAlign=true hideBorder=true}}
        </div>
      {{/shared/inputs/element-slider}}
    </div>
    <div class='s24 spacer'>
    </div>
  </div>
</div>










{{#if showInstructions}}
  {{#shared/tools/tools-popover-tool-container size='medium' closeAttribute=showInstructions confirmClose=false}}
    {{#segments/tool-instructions-arrival closeAttribute=showInstructions}}
      Use the Lending Power Tool to calculate how much a borrower(s) may be able to afford, based on UMI or DSR.
       <br/>
       <br/>
      Simply record monthly income and outgoings, then set an interest rate on which to base the calculations.  From here you can use the sliders provided to adjust desired UMI and DSR (see "?" bubbles for definitions)
      <br/>
      <br/>
      <b>TIP:</b> Use the Budget Builder to create a reliable budget to base the your Lending Power calculation on

    {{/segments/tool-instructions-arrival}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}




{{yield}}
