{{#if sortedLiabilities}}
  {{#if model.pricingOffers}}
    <div class='s24 flex-row-nowrap flex-justify-centre'>
      <div class='s07 m06 l05 flex-column-nowrap pricing-offers-label-column pricing-bottom-border'>
        <div class='s24 pricing-offer-height-limit'>
        </div>
        {{#each sortedLiabilities as |liability|}}
          <div class='s24 flex-row-nowrap flex-align-centre pricing-offer-height-limit'>
            <div class='s24 m09 pricing-rate-term'>
              {{#if liability.liabilityType}}
                {{inline-svg liability.liabilityType.iconPath class='svg-small'}}
                {{liability.fixedPeriodAbbreviation}}
              {{else}}
                ???
              {{/if}}
            </div>
            <div class='s00 m15 flex-shrink-grow'>
              {{shared/inputs/element-currencyfield placeholder=' ' value=liability.limitAfterDrawDown}}
            </div>
          </div>
        {{/each}}
        <div class='s24 spacer'>
        </div>
        <div class='s24 pricing-rate-term pricing-offer-height-limit'>
          Cash {{shared/elements/help-icon helpMessage='The value of any cash incentive offered.  When comparing offers, socket assumes you will use this cash to pay down the lending'}}
        </div>
        <div class='s24 pricing-rate-term pricing-offer-height-limit'>
          Discounts {{shared/elements/help-icon helpMessage="The annual value of any discounts offered on related products (e.g. credit cards, insurances, transactional accounts). When comparing offers, socket adjusts each offer's lifetime cost by the value of the discounts offered for the life of the loan(s)"}}
        </div>
        <div class='s24 pricing-rate-term pricing-offer-height-limit'>
          Other {{shared/elements/help-icon helpMessage="The estimated value of other incentives offered such as travel, gifts and vouchers.  When comparing offers, socket adjusts each offer's lifetime cost by the value of these incentives"}}
        </div>
      </div>
      <!--div class='s17 m18 l19 flex-row-nowrap'-->
        {{#each model.pricingOffers as |offer index|}}
          {{socket/toolkit/pricing/segments/single-offer-column model=offer index=index}}
        {{/each}}
      <!--/div-->


    </div>


    <!-- Comparison  -->
    <div class='s24 text-centre pad5 accent-fg'>
      <b>COMPARISON (TOTAL: {{format-currency model.totalLending}})</b>
    </div>
    <div class='s24 flex-row-nowrap flex-justify-centre'>
      <div class='s07 m06 l05 flex-column-nowrap pricing-offers-label-column pricing-top-border'>
        <div class='s24 pricing-rate-term pricing-offer-height-limit'>
          <span class='s00'><b>Monthly</b>&nbsp;</span>Pmts {{shared/elements/help-icon helpMessage='The estimated total monthly payments based on the proposed loan structure and the interest rates offered. '}}
        </div>
        <div class='s24 pricing-rate-term pricing-offer-height-limit'>
          <span class='s00'><b>Lifetime</b>&nbsp;</span>Cost {{shared/elements/help-icon helpMessage="The total amount you will pay over the life of the loan(s) based on the proposed loan structure, interest rates offered and the default loan term and rate recorded in the settings"}}
        </div>
        <div class='s24 pricing-rate-term pricing-offer-height-limit'>
          Adj&nbsp;{{defaultPricingComparisonYrs}}yr Cost: {{shared/elements/help-icon helpMessage="The total you'll pay over this period, adjusted for cash incentives (applied to the loan as soon as its drawn), discounts and other incentives. You can change the length of this period in Settings"}}
        </div>
        <div class='s24 pricing-rate-term pricing-offer-height-limit'>
          Adj&nbsp;<span class='s00'><b>Lifetime</b>&nbsp;</span>Cost: {{shared/elements/help-icon helpMessage="The lifetime cost, adjusted for cash incentives (applied to the loan as soon as its drawn), discounts and other incentives"}}
        </div>
        <div class='s24 pricing-rate-term pricing-offer-height-limit'>
          Customer<span class='s00'>&nbsp;<b>Sat</b></span> {{shared/elements/help-icon helpMessage="The average customer experience rating provided by socket borrowers two weeks after taking new lending with each lender (coming soon)"}}
        </div>
        <div class='s24 pricing-offer-height-limit sm'>
        </div>
      </div>
      {{#each model.pricingOffers as |offer index|}}
        {{socket/toolkit/pricing/segments/single-offer-comparison model=offer index=index removeOffer=removeOffer}}
      {{/each}}
    </div>

    <div class='s24 spacer'>
    </div>
  {{else}}
    <div class='s24 spacer'>
    </div>
    {{shared/tables/empty-state message="Click 'Add Offer' button to record the offers provided by different lenders"}}
  {{/if}}

{{else}}
  <div class='s24 spacer'>
  </div>
  {{shared/tables/empty-state message="You have not yet recorded your proposed loan structure. Click 'My structure' at the bottom of the page to go to the previous page and add loans to your proposed loan structure"}}
{{/if}}
