<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>
  {{shared/tools/segments/tool-title-bar title='Settings' closeAttribute=closeAttribute}}
  <div class='s23 flex-justify-centre text-centre pad5 font-three-quarter'>
    <i>Set your default interest rate (applied to fixed rate loans at the end of their fixed rate period) and intended loan term below</i>
  </div>
  <div class='s23 spacer'>
  </div>
  <div class='s23 flex-row-wrap flex-justify-space-around'>
    <div class='s09 m07'>
      {{shared/inputs/element-termfield value=model.remainingMonths placeholder='loan term' helpMessage='The intended longest term of the loans'}}
    </div>
    <div class='s09 m07'>
      {{shared/inputs/element-percentfield value=model.defaultRate placeholder='default interest rate' helpMessage='When calculating the lifetime cost of fixed rate loans, socket uses the default interest rate for the remaining term of the loan after the fixed interest period' }}
    </div>
    <div class='s09 m07'>
      {{shared/inputs/element-termfield value=model.defaultPricingComparisonMonths noMonths=true placeholder='Comparison Term' helpMessage='The term with which to compare the adjusted total cost (total payments minus incentives) of different offers' }}
    </div>
  </div>
  <div class='s23 spacer'>
  </div>
  <div class='s23 spacer'>
  </div>
  <div class='s23 spacer'>
  </div>
  <div class='s23 text-centre'>
    How we compare offers
  </div>
  <div class='s23 flex-justify-centre text-centre pad5 font-three-quarter'>
    <i>Socket compares loan offers from different lenders by calculating the lifetime cost of each loan in your proposed structure - based on the interest rate offered by the lender and the loan term recorded here. <br/>
      In comparing offers, we assume any cash incentives will be immediately applied to the new loans, and deduct the value of other incentives and discounts from the lifetime cost.
    </i>
  </div>
  <div class='s23 spacer'>
  </div>
</div>
