{{#if model.missingRates}}
  <div class='s24 flex-shrink-grow flex-column-nowrap flex-justify-centre flex-align-centre'>
    <div class='pricing-offer-missing-rates text-centre'>
      Missing Rates!
    </div>
  </div>
{{else}}
  <div class='s24 pricing-offer-height-limit flex-row-nowrap flex-align-centre flex-justify-centre'>
    {{format-currency model.totalPayments}}
  </div>
  <div class='s24 pricing-offer-height-limit flex-row-nowrap flex-align-centre flex-justify-centre'>
    {{format-currency model.lifetimeCost}}
  </div>
  <div class='s24 pricing-offer-height-limit flex-row-nowrap flex-align-centre flex-justify-centre'>
    <span class='pricing-offer-adj-total {{if isCheapestMidTerm "pricing-offer-cheapest"}}'>{{format-currency model.adjMidTermCost}}</span>
  </div>
  <div class='s24 pricing-offer-height-limit flex-row-nowrap flex-align-centre flex-justify-centre'>
    <span class='pricing-offer-adj-total {{if isCheapestTotal "pricing-offer-cheapest"}}'>{{format-currency model.adjLifeTimeCost}}</span>
  </div>
  <div class='s24 pricing-offer-height-limit'>
  </div>

{{/if}}
<div class='s24 flex-row-nowrap flex-align-centre flex-justify-centre pricing-offer-height-limit sm'>
  <div class="s03 m02 remove-btn" {{action 'removeOffer'}}>
    {{inline-svg 'icons/remove' class='svg-small hover-opaque'}}
  </div>
</div>
