
<div class='s24 pricing-offer-height-limit'>
  {{shared/inputs/element-select listName='bank'  value=model.bank placeholder='lender' helpMessage="The lender that has made the offer"}}
</div>
{{#each sortedRates as |rate|}}
  <div class='s24 pricing-offer-height-limit'>
    {{shared/inputs/element-percentfield placeholder=' ' value=rate.interestRate}}
  </div>
{{/each}}
<div class='s24 spacer'>
</div>
<div class='s24 pricing-offer-height-limit'>
  {{shared/inputs/element-currencyfield placeholder=' ' value=model.cashContribution}}
</div>
<div class='s24 pricing-offer-height-limit'>
  {{shared/inputs/element-currencyfield placeholder=' ' value=model.recurringDiscounts}}
</div>
<div class='s24 pricing-offer-height-limit'>
  {{shared/inputs/element-currencyfield placeholder=' ' value=model.nonCashIncentives}}
</div>
