
  <div class='s03 m02 flex-justify-centre'>
    {{shared/elements/custom-selects/loan-type-select value=model.liabilityType  helpMessage="Select a loan type"}}
  </div>
  <div class='s00 m06'>
    {{#if model.liabilityType}}
      {{shared/labels/label-with-placeholder-option placeholder=' ' value=model.liabilityType.name inputSize=true}}
    {{else}}
      <div class='input-container'>
        <i class='font-three-quarter'> &#60;&#45; select a loan type</i>
      </div>
    {{/if}}
  </div>
  <div class='s09 m05'>
    {{shared/inputs/element-currencyfield placeholder=' ' value=model.limitAfterDrawDown}}
  </div>
  <div class='s03 spacer'>
  </div>
  <div class='s06 m03'>
    {{#if model.requiresFixedTermExpiry}}
      {{shared/inputs/element-termfield placeholder=' ' value=model.fixedRateMonths}}
    {{/if}}
  </div>
  <div class='s00 m03 spacer'>
  </div>
  <div class='s03 m02 flex-row-nowrap flex-align-centre flex-justify-centre' {{action 'deleteLiability'}}>
    {{inline-svg 'icons/remove' class='svg-small hover-opaque selectable'}}
  </div>
