{{yield}}
<div class='s24 m22'>
  <div class='grey-bordered-white-box-flat flex-row-nowrap flex-align-centre'>
    <div class='s04 m03 spacer'>
    </div>
    <div class='s16 m18 font-three-quarter text-centre'>
      <div class='s24 spacer'>
      </div>
      <i>
        Add income and expenses using the + buttons below.
        <br/>
        <br/>
        For a quick estimate of a households expenses, use Socket's expense estimator
      </i>
      <div class='s24 spacer'>
      </div>
    </div>
    <div class='s04 m03 flex-justify-centre pad5'>
      {{#shared/buttons/svg-circle-button hasBorder=true iconName='expense' displayLabel=true altClasses='accent-darker-fg' onClick=(action 'useNZStats')}}
          expense estimator
      {{/shared/buttons/svg-circle-button}}
    </div>
  </div>
</div>

<div class='s24 m11'>
  <div class='grey-bordered-white-box-flat flex-column-nowrap flex-align-centre'>
  {{#shared/tables/table-container title='Income' type='income' action='addIncome' canToggle=false showRecordCount=false totalValue=model.totalIncome colourClass='accent-darker-bg'}}
    {{#each model.incomes as |income|}}
      {{socket/toolkit/-pieces/financials/financials-incomes-table-row model=income tableExpanded=true deleteIncome=(action 'deleteIncome')}}
    {{/each}}
  {{/shared/tables/table-container}}
  </div>
</div>


<div class='s24 m11'>
  <div class='grey-bordered-white-box-flat flex-column-nowrap flex-align-centre'>
  {{#shared/tables/table-container title='Expenses' type='expense' action='addExpense' canToggle=false showRecordCount=false totalValue=model.totalExpenses colourClass='accent-darker-bg'}}
    {{#each model.expenses as |expense|}}
      {{socket/toolkit/-pieces/financials/financials-expenses-table-row model=expense tableExpanded=true deleteExpense=(action 'deleteExpense')}}
    {{/each}}
  {{/shared/tables/table-container}}
  </div>
</div>
<div class='s24 m22'>
  <div class='grey-bordered-white-box-flat flex-column-nowrap flex-align-centre'>
    <div class='s24 pad5 white-fg flex-justify-centre {{outcomeColour}}'>
      <h5>Uncommitted Monthly Income: {{format-currency model.umi}}</h5>
    </div>
    {{#if umiPositive}}
      {{shared/tables/empty-state message="See how much you could borrow with Socket's Lending Power tool"}}
      {{!segments/single-tool-card model=lendingPowerTool}}
    {{/if}}
    <div class='s24 pad5 flex-justify-centre'>
      <button class='square-button accent-darker-bg' {{action 'newLendingPower'}}>New Lending Power</button>
    </div>
  </div>
</div>


{{#if showNZStatsEstimate}}
  {{#shared/tools/tools-popover-tool-container size='medium' closeAttribute=showNZStatsEstimate}}
    {{socket/toolkit/budget/nzstats-estimate closeAttribute=showNZStatsEstimate model=model}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}



{{#if showInstructions}}
  {{#shared/tools/tools-popover-tool-container size='medium' closeAttribute=showInstructions confirmClose=false}}
    {{#segments/tool-instructions-arrival closeAttribute=showInstructions}}
      Use the Budget Builder to record income and expenses for a household, and see whats left at the end of each month for debt servicing.
       <br/>
       <br/>
      You can record your own expenses, or use Socket's Expense Estimator, based on your living situation and household income level.
      <br/>
      <br/>
      <b>TIP:</b> Use the UMI from the Budget Builder to calculate borrowing capacity in the Lending Power Tool

    {{/segments/tool-instructions-arrival}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
