{{yield}}
<div class='budget-family-circle {{if thisSelected "selected"}}' {{action "select"}}>
  {{inline-svg model.iconPath class='svg-medium white-icon-stroke'}}
</div>
<span>{{model.title}}</span>
