<div class='s24 presentation-container flex-column-nowrap flex-align-centre'>


  {{shared/tools/segments/tool-title-bar title='Expenses Estimator' closeAttribute=closeAttribute}}
  <div class='s24 flex-justify-centre flex-column-nowrap text-centre pad5 font-three-quarter'>
    Expense estimations are based on Statistics NZ Household Economic Survey, and exclude expenses for mortgage repayments, rent and savings contributions.
    <br/>
    <br/>
    <b>Note: </b> Credit card and loan repayments, rent and non-standard payments such as child support and body corp will need to be added separately (if applicable)

  </div>
  <div class='spacer'>
  </div>
  {{shared/tables/empty-state message="Select Family Situation:"}}

<!-- Family Sit -->
  <div class='s24 flex-row-wrap'>
    {{#each householdTypes as |householdType|}}
      <div class='s08 m04 pad5 '>
        {{socket/toolkit/budget/budget-family-card model=householdType selected=household selectType=(action "setHousehold")}}
      </div>

    {{/each}}
  </div>


<!--  Income -->
  <div class='spacer'>
  </div>
  {{shared/tables/empty-state message="Select Annual Household Income:"}}
  <div class='s23 flex-row-wrap flex-justify-centre'>
    {{#each incomeMultipliers as |incomeMultiplier|}}
      {{socket/toolkit/budget/budget-income-card model=incomeMultiplier selectedIncome=income click=(action "setIncome" incomeMultiplier)}}
    {{/each}}
  </div>



<!-- Result -->
  <div class='spacer'>
  </div>
  <div class='s24 flex-justify-centre text-centre accent-darkest-fg'>
    <h5>Estimated Monthly Expenses: {{format-currency estimatedExpenditure}}</h5>
  </div>
  <div class='s24 flex-column-nowrap {{unless estimatedExpenditure "invisible"}}'>
    <div class='s24 flex-justify-centre pad5'>
      <button class='square-button accent-darker-bg' {{action 'addExpense'}}>Add to Budget</button>
    </div>
    <div class='s24 flex-justify-centre text centre pad5 font-three-quarter'>
      This will add a single 'household' expense to your budget.
    </div>
  </div>



</div>
