
{{#if noResults}}
  <div class='s24 flex-row-nowrap flex-justify-centre pad5'>
    {{shared/tables/empty-state message="Record your proposed loan structure and at least one offer above to view comparator statistics here"}}
  </div>
{{else}}

  <div class='s24 flex-row-nowrap'>
    <div class='pricing-offer-single-line-bank-icon'>
    </div>
    <div class='s06 column-header flex-justify-centre text-centre cursor-pointer' {{action 'setSortAttribute' 'repayments'}}>
       {{#if (eq model.sortAttribute 'repayments')}}<b>{{pmtFreq}} Repayments</b>{{else}}{{pmtFreq}} Repayments{{/if}}
    </div>
    <div class='s06 column-header flex-justify-centre text-centre cursor-pointer' {{action 'setSortAttribute' 'fiveYrCost'}}>
      {{#if (eq model.sortAttribute 'fiveYrCost')}}<b>5yr Int + Fees</b>{{else}}5yr Int + Fees{{/if}}

    </div>
    <div class='s06 column-header flex-justify-centre text-centre cursor-pointer' {{action 'setSortAttribute' 'lifetimeCost'}}>
      {{#if (eq model.sortAttribute 'lifetimeCost')}}<b>Lifetime Int + Fees</b>{{else}}Lifetime Int + Fees{{/if}}

    </div>
    <div class='s03 column-header flex-justify-centre text-centre cursor-pointer' {{action 'setSortAttribute' 'customerSat'}}>
      {{#if (eq model.sortAttribute 'customerSat')}}<b>Cust Sat</b>{{else}}Cust Sat{{/if}}
    </div>
  </div>
  {{#each model.comparisons as |comparison|}}

    <div class='s24 flex-row-nowrap flex-align-centre'>
      <div class='pricing-offer-single-line-bank-icon'>
        <img src={{comparison.bank.logoPath}} class='bank-icon' />
      </div>
      {{#if comparison.repayments}}
        <div class='s06 flex-justify-centre'>
          {{format-currency comparison.repayments}}
        </div>
        <div class='s06 flex-justify-centre'>
          {{format-currency comparison.fiveYrCost}}
        </div>
        <div class='s06 flex-justify-centre'>
          {{format-currency comparison.lifetimeCost}}
        </div>
      {{else}}
        <div class='s18 flex-justify-centre text-centre red-fg'>
          MISSING RATES!
        </div>
      {{/if}}
      <div class='s03 flex-justify-centre'>
        {{comparison.customerSat}}
      </div>
    </div>
  {{/each}}

{{/if}}
