<div id='loanPlannerContainer' class='s24 flex-row-wrap flex-align-stretch'>

  <div class='toolkit-floating-instruction-button hover-highlight' {{action 'viewInstructions'}}>
    {{inline-svg 'icons/information' class='svg-small'}}
  </div>

  <div class='s24 l10 flex-align-stretch flex-row-nowrap'>
    <div class='grey-bordered-white-box-flat pad5 flex-row-wrap planner-donut-container'>
      <div class='s24 flex-column-nowrap'>
        <div class='s24 pad5 flex-justify-centre'>
          <b>Proposed Loan Structure</b>
        </div>
        <div class='s24 pad5 flex-justify-centre'>
          {{shared/views/financials/structure/structure-component model=model.loanStructure}}
        </div>
      </div>
    </div>
  </div>

  <div class='s24 l14 flex-align-stretch flex-row-nowrap'>
    <div class='grey-bordered-white-box-flat pad5 flex-row-wrap planner-donut-container'>
      <div class='s24 flex-column-nowrap'>
        <div class='s24 pad5 flex-justify-centre'>
          <b>Rates/Offers</b>
        </div>
        <div class='s24 pad5 flex-justify-centre'>
          {{shared/views/pricing/rates-table model=model.pricingOffers offerSaveFunction=(action 'saveOffer')}}
        </div>
      </div>
    </div>
  </div>
  <div class='s24 flex-align-stretch flex-row-nowrap'>
    <div class='grey-bordered-white-box-flat pad5 flex-row-wrap planner-donut-container'>
      <div class='s24 flex-column-nowrap'>
        <div class='s24 pad5 flex-justify-centre'>
          <b>Comparison</b>
        </div>

        <div class='s24 pad5 flex-justify-centre'>
          {{socket/toolkit/pricing/comparison-table model=model}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#if showInstructions}}
  {{shared/help/tutorial-releases/tutorial-releases-popover tutorial=tutorial closeAttribute=showInstructions}}
{{/if}}

{{shared/buttons/utilities-icon-button buttons=utilityButtons save=(action 'save') print=(action 'print') share=(action 'share')}}
