

<div class='pricing-settings-button-container'>
  {{shared/buttons/svg-circle-button hasBorder=false iconName='settings' altClasses='accent-darker-bd' onClick=(action 'toggleSettings')}}
</div>



<!--  My structure -->
<div class='pricing-comparator-stretchy-body-container'>

  <div class='pricing-comparator-content-box {{if showPricing "left"}}'>
    <div class='s24 flex-column-nowrap flex-align-centre pad5'>
      <div class='s24 text-centre pad5'>
        <h5>My Loan Structure</h5>
      </div>
      {{#if model.liabilities}}
      <div class='s24 l18 flex-row-nowrap'>
        <div class='s03 m02 text-centre column-header'>
          type
        </div>
        <div class='s00 m06 spacer'>
        </div>
        <div class='s12 m08 column-header'>
          <span>value </span>{{shared/elements/help-icon helpMessage="The value of each loan within your total structure"}}
        </div>
        <div class='s07 m06 column-header'>
          fixed int period {{shared/elements/help-icon helpMessage="The fixed interest period for any fixed interest home loans "}}
        </div>
      </div>
      {{/if}}

      {{#each model.liabilities as |liability|}}
        {{socket/toolkit/pricing/segments/structure-loan-entry model=liability deleteLiability=(action 'deleteLiability')}}
      {{else}}
        <div class='s24 pad5 spacer'>
        </div>
        {{shared/tables/empty-state message="You have not yet recorded your proposed loan structure. Use the 'add loan' button at the bottom of the page to add loans to your proposed loan structure, then select 'My offers' to record and compare the offers you have received from lenders"}}
      {{/each}}


    </div>
  </div>



  <!-- My offers -->
  <div class='pricing-comparator-content-box flex-column-nowrap flex-align-centre {{unless showPricing "right"}}'>
    <div class='s24 flex-column-nowrap flex-align-centre'>

      <div class='s24 text-centre pad5'>
        <h5>My Offers</h5>
      </div>

      {{#if showPricing}}
      {{socket/toolkit/pricing/segments/offer-view model=model removeOffer=(action 'deleteOffer')}}
      {{/if}}

    </div>
  </div>
</div>
<div class='pricing-comparator-proposition-bar'>
  <div>
    Total lending: {{format-currency model.totalLending}}
  </div>
</div>


<div class='pricing-comparator-bottom-section'>
  {{#if showPricing}}
    <div class='pricing-comparator-page-select left' {{action 'toggleOffers'}}>
      {{inline-svg 'icons/arrow-left' class='svg-small pad5'}} My structure
    </div>
  {{/if}}



  <div class='pricing-comparator-plus-button {{unless showPricing "in-focus"}}'>
    {{#shared/buttons/svg-circle-button showLabel=true hasBorder=true iconName='liability' addButton=true large=true altClasses='accent-darker-bd' onClick=(action 'addLoan')}}
      Add Loan
    {{/shared/buttons/svg-circle-button}}
  </div>

  {{#unless showPricing}}
    <div class='pricing-comparator-page-select right' {{action 'toggleOffers'}}>
      My offers {{inline-svg 'icons/arrow-right' class='svg-small pad5'}}
    </div>
  {{/unless}}


  <div class='pricing-comparator-plus-button {{if showPricing "in-focus"}}'>
    {{#shared/buttons/svg-circle-button showLabel=true hasBorder=true iconName='bank-offer' addButton=true large=true altClasses='accent-darker-bd' onClick=(action 'addOffer')}}
      Add Offer
    {{/shared/buttons/svg-circle-button}}
  </div>
</div>





{{#if showSettings}}
  {{#shared/tools/tools-popover-tool-container size='medium' closeAttribute=showSettings}}
    {{socket/toolkit/pricing/segments/settings-view closeAttribute=showSettings model=model}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}


{{#if showInstructions}}
  {{#shared/tools/tools-popover-tool-container size='medium' closeAttribute=showInstructions confirmClose=false}}
    {{#segments/tool-instructions-arrival closeAttribute=showInstructions}}
      Use the Offer Comparator to objectively compare offers from different banks.
      <br/>
      <br/>
      Simply load your intended loan structure, then record the offers you've received.  The Comparator will take account of rates, cash, discounts and other benefits to help identify the better deal.
      <br/>
      <br/>
      <b>TIP:</b> Make sure you load ALL discounts provided with each offer.  Even a $10/month saving can sometimes make up for a slightly higher interest rate.

    {{/segments/tool-instructions-arrival}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
