{{!shared/tools/segments/tool-title-bar title=model.name closeAttribute=closeAttribute}}
<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-wrap'>
    <div class='s10 m06'>
      {{shared/inputs/element-select value=model.expenseType placeholder='type' listName='expenseType'}}
    </div>
    <div class='s14 m09'>
      {{shared/inputs/element-input type='text' value=model.description placeholder='description'}}
    </div>
    <div class='s10 m04'>
      {{shared/inputs/element-select value=model.frequency placeholder='frequency' listName='frequency' }}
    </div>
    <div class='s14 m05'>
      {{shared/inputs/element-currencyfield value=model.value placeholder='value'}}
    </div>
    <div class='s24 flex-justify-end'>
      <div class='s14 m05'>
        {{shared/labels/label-with-placeholder-option value=model.monthly currency=true placeholder='monthly' inputSize=true}}
      </div>
    </div>
    <div class='s24 spacer'>
    </div>

    {{#if loanApplication.hasForex}}
      {{views/financials/forex/forex-financials-line model=model}}
    {{/if}}

    <div class='s24 spacer'>
    </div>
    <div class='s24 flex-justify-centre'>
      Whose expense is this?
    </div>
    <div class='s24 flex-justify-centre pad5'>
      {{shared/elements/gravatars/ownership-gravatars isClient=true selectedArray=model.clients model=loanParty.clients }}
    </div>
  </div>


  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-justify-centre'>
    {{shared/assemblies/undo-save-delete   isSaving=isSaving undo=(action 'undoChanges') save=(action 'saveRecord') delete=(action 'deleteFinancial')}}
  </div>

  <div class='s24 spacer'>
  </div>
  <div class='s24 spacer'>
  </div>


</div>
