<div class='s24 flex-row-nowrap flex-align-stretch' >
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap'>
    <div class='s12 m08 pad5'>
      {{model.incomeType.name}}
    </div>
    <div class='s00 m10 pad5'>
      {{model.description}}
    </div>
    <div class='s12 m06 pad5 text-end flex-justify-end'>
      {{format-currency model.netMonthly true}}
    </div>
  </div>

  {{shared/assemblies/table-row-options-standard model=model viewDetails=(action 'viewDetails') undoChanges=(action 'undoChanges') deleteRecord=(action 'deleteFinancial')}}

</div>


{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='medium' closeAttribute=model.showDetails}}
    {{socket/loan-app-wizard/elements/financials/income-details-popover model=model loanParty=loanParty loanApplication=loanParty.loanApplication closeAttribute=model.showDetails addLiability=attrs.addIncome}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
