<div class='s24 flex-row-nowrap flex-align-stretch' >
  <div class='s24 flex-shrink-grow flex-align-centre flex-row-nowrap flex-justify-start'>
    <div class='s16 m18 label-ellipses flex-justify-start'>
      {{model.description}}
    </div>
    <div class='s08 m06 text-end flex-justify-end'>
      {{format-currency model.value true}}
    </div>
  </div>

  {{shared/assemblies/table-row-options-standard model=model viewDetails=(action 'viewDetails') deleteRecord=(action 'deleteFinancial')}}
</div>

{{#if model.showDetails}}
  {{#shared/tools/tools-popover-tool-container title=model.name size='medium' closeAttribute=model.showDetails}}
    {{socket/loan-app-wizard/elements/financials/security-details-popover model=model loanParty=loanParty loanApplication=loanParty.loanApplication closeAttribute=model.showDetails isCurrent=isCurrent}}
  {{/shared/tools/tools-popover-tool-container}}
{{/if}}
