<div class='s23 m22 flex-column-nowrap flex-no-shrink-grow'>
  <div class='s24 spacer'>
  </div>

  <div class='s24 flex-row-wrap'>
    <div class='s24 m18'>
      {{shared/inputs/address-input-with-lookup address=model.address  placeholder='address' helpMessage='The address of the security. If this is yet to be confirmed, record "TBC" in the street address'}}
    </div>
    <div class='s12 m06'>
      {{shared/inputs/element-select value=model.securityType placeholder='property type' listName='securityType'}}
    </div>


    <div class='s12 m06'>
      {{shared/inputs/element-select value=model.securityUseType placeholder='purpose' listName='securityUseType' }}
    </div>
    <div class='s12 m06'>
      {{shared/inputs/element-select value=model.securityOwnershipType placeholder='ownership' listName='securityOwnershipType'  helpMessage='Is/Will the security be owned personally, or in a trust/company'}}
    </div>
    <div class='s12 m06'>
      {{#if isCurrent}}
        {{shared/inputs/element-string-select placeholder='mortgaged to' value=bank selectOptions=bankNames}}
      {{/if}}
    </div>
    <div class='s12 m06'>
      {{shared/inputs/element-currencyfield value=model.value placeholder='approx value' helpMessage='Value may need to be supported by an independent valuation or sale and purchase agreement'}}
    </div>




    <div class='s24 spacer'>
    </div>
    {{#if isCurrent}}
      <div class='s24'>
        {{shared/inputs/element-radiogroup value=settlementAction listItems=settlementActions placeholder='what will happen with this property?' isStrings=true}}

        {{!shared/inputs/element-string-select value=model.loanPartySecurityLink.securitySettlementAction placeholder='what will happen with this security at settlement?' selectOptions=model.loanPartySecurityLink.securitySettlementActions helpMessage="Blah?"}}
      </div>

      <div class='s06 m04 spacer'>
      </div>

      <div class='s24 flex-justify-centre'>
        Who owns this property?
      </div>
      <div class='s24 flex-justify-centre pad5'>
        {{shared/elements/gravatars/ownership-gravatars isClient=true selectedArray=model.clients model=loanParty.clients }}
      </div>
    {{/if}}
  </div>


  <div class='s24 spacer'>
  </div>
  <div class='row-divide'>
  </div>

  <div class='s24 flex-justify-centre'>
    {{shared/assemblies/undo-save-delete isSaving=isSaving undo=(action 'customUndo') save=(action 'saveRecord') delete=(action 'deleteFinancial')}}
  </div>

  <div class='s24 spacer'>
  </div>


</div>
