<h5 class='s23 m22 text-centre'><b>ASSETS</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>Now, please record any assets owned by the people listed in the previous page. This will include property, vehicles, kiwisaver/superannuation funds and household contents/furniture</span>
<br/>
<div class='s23 m22 flex-column-nowrap flex-justify-centre'>
  {{#each model.assets as |asset|}}
    {{shared/views/financials/asset-single-line model=asset loanParty=model loanApplication=model.loanApplication}}

    {{!socket/loan-app-wizard/elements/financials/asset-single-line model=asset loanParty=model}}
  {{/each}}
</div>
<div class='s23 m22 flex-justify-end table-total'>
  Total Value: {{format-currency model.totalAssets true}}
</div>


<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>
<div class='s24 flex-justify-centre pad5'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='asset' label='add asset' hasBorder=true addButton=true altClasses='blue-fg blue-icon' onClick=(action 'addAsset')}}
  </div>
</div>
