<h5 class='s23 m22 text-centre'><b>DOCUMENTS</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>Lastly, we need a few documents to support your application</span>
<br/>
<div class='s23 m22 flex-column-nowrap flex-justify-centre'>
  {{#each documentRequirements as |requiredDocument|}}
    {{socket/loan-app-wizard/elements/documents/document-upload-line model=requiredDocument loanParty=model loanApplication=model.loanApplication}}
  {{/each}}
</div>
