<h5 class='s23 m22 text-centre'><b>EXPENSES</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>Finally, please record all regular expenses (excluding debt repayments recorded in the 'liabilities' section). Use the 'table entry' button to quickly add a value for all applicable expense categories</span>
<br/>
<div class='s23 m22 flex-column-nowrap flex-justify-centre'>
  {{#each model.expenses as |expense|}}
    {{!socket/loan-app-wizard/elements/financials/expense-single-line model=expense loanParty=model}}
    {{shared/views/financials/expense-single-line model=expense loanParty=model loanApplication=model.loanApplication}}
  {{/each}}
</div>
<div class='s23 m22 flex-justify-end table-total'>
  Total Value: {{format-currency model.totalExpenses true}}
</div>


<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>
<div class='s24 flex-justify-centre pad5'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='buttons/show-table' label='table entry' hasBorder=true altClasses='accent-darker-fg accent-darker-icon' onClick=(action 'showExpenseTable')}}
  </div>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='expense' label='add expense' hasBorder=true addButton=true altClasses='accent-darker-fg accent-darker-icon' onClick=(action 'addExpense')}}
  </div>
</div>

{{#if showTable}}
  {{socket/loan-app-wizard/elements/financials/expense-table-entry-popover model=model.expenses party=model showTable=showTable}}
{{/if}}
