<h5 class='s23 m22 text-centre'><b>YOU'RE DONE!</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>Congratulations! It might have taken a little while, but this is the last page</span>
<br/>
<span class='s23 m22 text-centre'>The next step is for {{model.loanApplication.owner.name}} to meet with you and review your application, before submitting it to the most appropriate lender(s) for your needs</span>
<br/>
<div class='s23 flex-justify-centre'>
  Click below to close this wizard.  We'll let {{model.loanApplication.owner.name}} know that you've completed your application
</div>


<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='s24 flex-justify-centre'>
  <button class='square-button accent-darker-bg' {{action 'close'}}>close</button>
</div>
<!--div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>
<div class='s24 flex-justify-centre pad5'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='security' label='add property' hasBorder=true addButton=true altClasses='blue-fg blue-icon' onClick=(action 'addSecurity' true)}}
  </div>
</div-->
