<h5 class='s23 m22 text-centre'><b>INCOME</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>Please record all sources of income.  This will include salary, current and proposed rent, board and other regular items like dividends or benefits</span>
<br/>
<div class='s23 m22 flex-column-nowrap flex-justify-centre'>
  {{#each model.incomes as |income|}}
    {{!socket/loan-app-wizard/elements/financials/income-single-line model=income loanParty=model}}
    {{shared/views/financials/income-single-line model=income loanParty=model loanApplication=model.loanApplication}}
  {{/each}}
</div>
<div class='s23 m22 flex-justify-end table-total'>
  Total Value: {{format-currency model.totalIncome true}}
</div>


<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>
<div class='s24 flex-justify-centre pad5'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='income' label='add income' hasBorder=true addButton=true altClasses='accent-darker-fg accent-darker-icon' onClick=(action 'addIncome')}}
  </div>
</div>
