<div class='flex-column-nowrap flex-align-centre'>
  {{inline-svg "logos/badge-only-transparent-bg" class='svg-medium-large'}}
  <br/>
  <span class='s23 m22 text-centre'><b>Welcome to the Socket Loan App Wizard</b></span>
  <br/>
  <span class='s23 m22 text-centre'>The wizard will guide you through completing a loan application in preparation for your meeting with {{model.loanApplication.owner.name}}. You can use the navigation controller in the bottom right corner to move forward (down) and back (up) through the wizard</span>
  <br/>
  <br/>
  <span class='s23 m22 text-centre'>It may take up to 30 minutes to complete, however you can save it at any stage and complete it later</span>

  <br/>
  <div class='pad5 cursor-pointer hover-underline' {{action 'start'}}>
    Get Started ->
  </div>
</div>
