<h5 class='s23 m22 text-centre'><b>LIABILITIES</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>Now for what each person OWES.  This covers any debts you have now, including credit cards, store cards and any existing home lending</span>
<br/>
<div class='s23 m22 flex-column-nowrap flex-justify-centre'>
  {{#each model.liabilities as |liability|}}
    {{!socket/loan-app-wizard/elements/financials/liability-single-line model=liability loanParty=model}}
    {{shared/views/financials/liability-single-line model=liability loanParty=model loanApplication=model.loanApplication}}
  {{/each}}
</div>
<div class='s23 m22 flex-justify-end table-total'>
  Total Value: {{format-currency model.totalLiabilities true}}
</div>


<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>
<div class='s24 flex-justify-centre pad5'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='liability' label='add liability' hasBorder=true addButton=true altClasses='accent-darker-fg accent-darker-icon' onClick=(action 'addLiability')}}
  </div>
</div>
