<h5 class='s23 m22 text-centre'><b>NEW PROPERTIES</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>We need to know about the new property(s) you intend to purchase.  Please record the details below.</span>
<br/>
<span class='s23 m22 text-centre'>If you do not yet have a particular property in mind, record the address as 'TBA'</span>
<br/>
<div class='s23 m22 flex-column-nowrap flex-justify-centre'>
  {{#each model.loanApplication.assets as |security|}}
    {{socket/loan-app-wizard/elements/financials/security-single-line model=security loanParty=model isCurrent=false}}
  {{/each}}
</div>
<div class='s23 m22 flex-justify-end table-total'>
  Total Value: {{format-currency model.loanApplication.totalSecurities true}}
</div>


<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>
<div class='s24 flex-justify-centre pad5'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='security' label='add property' hasBorder=true addButton=true altClasses='accent-darker-fg accent-darker-icon' onClick=(action 'addSecurity' true)}}
  </div>
</div>
