<h5 class='s23 m22 text-centre'><b>PEOPLE</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>
  Now we need to know about the people applying for the loan and their financial situation.
  <br/>

  First up - please complete the details below for EACH person in your household that is applying for this loan:
</span>
<br/>
<div class='s24 flex-row-wrap flex-justify-centre flex-align-centre'>
  {{#each model.clients as |client|}}
    <div class='application-wizard-people-gravatar-container'>
      {{socket/loan-app-wizard/elements/client-details model=client loanParty=model}}
    </div>
  {{/each}}
</div>
<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>
<div class='s24 flex-justify-centre pad5'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='person' label='add person' hasBorder=true addButton=true altClasses='accent-darker-fg accent-darker-icon' onClick=(action 'addClient' true)}}
  </div>
  <!--div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='person' label='add company/trust' hasBorder=true addButton=true altClasses='blue-fg blue-icon' onClick=(action 'addClient' false)}}
  </div-->
</div>
