<h5 class='s23 m22 text-centre'><b>PROPERTIES</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>Next, please record the details of any properties already owned by any of the people listed in the previous section</span>
<br/>
<div class='s23 m22 flex-column-nowrap flex-justify-centre'>
  {{#each model.securities as |security|}}
    {{!socket/loan-app-wizard/elements/financials/security-single-line model=security loanParty=model isCurrent=true}}
    {{shared/views/financials/security-single-line model=security loanParty=model isCurrent=true loanApplication=model.loanApplication}}
  {{/each}}
</div>
<div class='s23 m22 flex-justify-end table-total'>
  Total Value: {{format-currency model.totalSecurities true}}
</div>


<div class='s24 spacer'>
</div>
<div class='s24 spacer'>
</div>
<div class='row-divide'>
</div>
<div class='s24 flex-justify-centre pad5'>
  <div class='svg-button-container'>
    {{shared/buttons/svg-circle-button iconName='security' label='add property' hasBorder=true addButton=true altClasses='accent-darker-fg accent-darker-icon' onClick=(action 'addSecurity' true)}}
  </div>
</div>
