<h5 class='s23 m22 text-centre'><b>SUMMARY</b></h5>
<div class='s24 spacer'>
</div>
<span class='s23 m22 text-centre'>To start, some details about your requirements:</span>
<br/>
<div class='s23 flex-justify-centre'>
  <div class='application-wizard-summary-application-options-container flex-column-nowrap flex-align-centre'>
    {{shared/inputs/element-radiogroup value=appType listItems=appTypes placeholder='which of the following best describes the purpose for this application?' isStrings=true}}
    <div class='s24 spacer'>
    </div>
    <div class='s18 m12 {{if hideApplicationValue "invisible"}}'>
      {{shared/inputs/element-currencyfield value=model.loanApplication.applicationValue placeholder='how much do you wish to borrow?'}}
    </div>

  </div>
</div>
